{% if (lexicalEntry.collocationsBase is not empty) or (lexicalEntry.collocationsCollocatif is not empty) %}
<div class="accordion">
  <div class="card">
    <div class="card-header">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseExpressions" aria-expanded="true">
          {{"expressions"|trans}}
        </button>
      </h2>
    </div>

    <div id="collapseExpressions" class="collapse show">
      <div class="card-body">

          {% set lexicalEntryTotalColloc = lexicalEntry.collocationsCollocatif|length + lexicalEntry.collocationsBase|length %}

          {% if lexicalEntry.collocationsBase|length > 0 %}
            <fieldset>
              <legend>Collocation avec <i>{{lexicalEntry.acceptionUniq}}</i> comme base</legend>
              <div class='colonnes-3 pl-3'>
              {% for collocationBase in lexicalEntry.collocationsBase %}
                  <div>
                    <a class="itemColonnes classmembers" href="{{ path("collocation_display", {'id': collocationBase.id}) }}">{{collocationBase.value}}</a>
                  </div>
              {% endfor %}
              </div>
            </fieldset>
          {% endif %}

          {% if lexicalEntry.collocationsCollocatif|length > 0 %}
              <fieldset>
                <legend>
                  Collocation avec <i>{{lexicalEntry.acceptionUniq}}</i> comme collocatif
                </legend>
                <div class='colonnes-3 pl-3'>
                {% for collocationCollocatif in lexicalEntry.collocationsCollocatif %}
                    <div>
                      <a class="itemColonnes classmembers" href="{{ path("collocation_display", {'id': collocationCollocatif.id}) }}">{{collocationCollocatif.value}}</a>
                    </div>
                {% endfor %}
                </div>
              </fieldset>
          {% endif %}

          {% if ((lexicalEntry.collocationsCollocatif|length > 0) or (lexicalEntry.collocationsBase|length > 0)) %}
          <div id="graphmodal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-xl" style="width: 90%;max-width: 90%;">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Graphe collocations</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="text-center" id="current-edge"></div>
                  <div id='cy' data-datas="{{datas}}"></div>
                </div>
              </div>
            </div>
          </div>
          {% endif %}

          {% if lexicalEntryTotalColloc > 0 %}
            <button type="button" class="float-right btn btn-link" data-toggle="modal" data-target="#graphmodal">
              <i class="fas fa-project-diagram"></i> Visualiser les collocations sous forme de graphe
            </button>
          {% endif %}

      </div>
    </div>
  </div>
</div>

{% endif %}
