{% if lexicalEntry.metriques is not null %}
  {% set totalFreq = lexicalEntry.metriques.cafreq  %}
  {% set tablePourcent = {
    "Anthropologie" :  (lexicalEntry.metriques.freqAnthropo )|round(1),
    "Economie" :  (lexicalEntry.metriques.freqEco )|round(1),
    "Géographie" :  (lexicalEntry.metriques.freqGeo )|round(1),
    "Histoire" :  (lexicalEntry.metriques.freqHistoire )|round(1),
    "Linguistique" :  (lexicalEntry.metriques.freqLing )|round(1),
    "Psychologie" :  (lexicalEntry.metriques.freqPsycho )|round(1),
    "Sciences de l'éducation" :  (lexicalEntry.metriques.freqSciedu )|round(1),
    "Sciences Politiques" :  (lexicalEntry.metriques.freqSciepo )|round(1),
    "Sciences de l'information" :  (lexicalEntry.metriques.freqScinfo )|round(1),
    "Sociologie" :  (lexicalEntry.metriques.freqSocio )|round(1)
  } %}

  <div class="accordion">
    <div class="card">
      <div class="card-header">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseMetrics" aria-expanded="true">
            {{"emploi_discipline"|trans}}
          </button>
        </h2>
      </div>
      <div id="collapseMetrics" class="collapse show">
        <div class="card-body">
          <div class="row">
            <div class="col-8 offset-2">
              <canvas id="chartMetriques" style="width: 256px; height: 128px" data-datas="{{tablePourcent|json_encode}}"></canvas>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

{% endif %}
