{% if lexicalEntry.exemples is not empty %}

<div class="accordion">
  <div class="card">
    <div class="card-header">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseExamples" aria-expanded="true">
          {{"examples"|trans}}
        </button>
      </h2>
    </div>
    <div id="collapseExamples" class="collapse show">
      <div class="card-body">
          <ul class="list-group list-group-flush">
          {% include "lexical-entry/examples.html.twig" with {'exemples': lexicalEntry.exemples}  %}
          </ul>
      </div>
    </div>
  </div>
</div>
{% endif %}
