{% if lexicalEntry.fonction %}

<div class="accordion">
  <div class="card">
    <div class="card-header">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseFonctions" aria-expanded="true">
          {{"fonctions"|trans}}
        </button>
      </h2>
    </div>

    <div id="collapseFonctions" class="collapse">
      <div class="card-body ml-2">
        {% set f = lexicalEntry.fonction %}

        <span>
          <a href="{{ path("generalf", { "generalf": f.generalf}) }}">{{ f.generalf | trans }}</a>
          <span class="ml-2 badge badge-light" data-toggle="tooltip" title="{{  f.generalf ~ "_desc" | trans }}">?</span>
          -
          <a href="{{ path("generalf_label", { "generalf": f.generalf, "label": f.label}) }}">{{ f.label | trans }}</a>
          <span class="ml-2 badge badge-light" data-toggle="tooltip" title="{{  f.label ~ "_desc" | trans }}">?</span>
        </span>
        
        <br/>

        {% if lexicalEntry.sujetComplement %}
          <span class="text-muted">sujet complement :</span> {{ lexicalEntry.sujetComplement|raw }}
          <br/>
        {% endif %}

        {% if isAdmin and lexicalEntry.comment %}
          <span class="text-muted">Commentaire :</span> {{ lexicalEntry.comment|raw }}
          <br/>
        {% endif %}

      </div>
    </div>
  </div>
</div>


{% endif %}
