{% if lexicalEntry.metriques is not null %}

<div class="accordion">
  <div class="card">
    <div class="card-header">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseMetric" aria-expanded="true">
          {{"metrics"|trans}}
        </button>
      </h2>
    </div>

    <div id="collapseMetric" class="collapse">
      <div class="card-body">

        {% set totalFreq = lexicalEntry.metriques.cafreq  %}
        {% set tablePourcent = {
          "Anthropologie" :  (lexicalEntry.metriques.freqAnthropo )|round(1),
          "Economie" :  (lexicalEntry.metriques.freqEco )|round(1),
          "Géographie" :  (lexicalEntry.metriques.freqGeo )|round(1),
          "Histoire" :  (lexicalEntry.metriques.freqHistoire )|round(1),
          "Linguistique" :  (lexicalEntry.metriques.freqLing )|round(1),
          "Psychologie" :  (lexicalEntry.metriques.freqPsycho )|round(1),
          "Sciences de l'éducation" :  (lexicalEntry.metriques.freqSciedu )|round(1),
          "Sciences Politiques" :  (lexicalEntry.metriques.freqSciepo )|round(1),
          "Sciences de l'information" :  (lexicalEntry.metriques.freqScinfo )|round(1),
          "Sociologie" :  (lexicalEntry.metriques.freqSocio )|round(1)
        } %}


        <table class="table table-borderless table-hover w-50">
          <tr>
            <td>{{"frequency"|trans}}</td>
            <td>

              <div class="progress border custom-progress">
                <div class="progress-bar " role="progressbar" style="width: {{ rankFreq }}%">
                </div>
              </div>
              <i>{{lexicalEntry.lemma.value}}</i> ({{lexicalEntry.cat.value}}) est plus fréquent que  {{ rankFreq }} % des mots du LST
              
            </td>
          </tr>

          <tr>
            <td>
              {{"specificity"|trans}}
            </td>
            <td>
              <div class="progress border custom-progress">
                <div class="progress-bar " role="progressbar" style="width: {{ rankSpec }}%">
                </div>
              </div>
              <i>{{lexicalEntry.lemma.value}}</i> ({{lexicalEntry.cat.value}}) est plus spécifique que  {{ rankSpec }} % des mots du LST
            </td>
          </tr>

          <tr>
            <td>{{"distribution_100"|trans}}</td>
            <td>
              <span class="badge badge-info">{{lexicalEntry.metriques.repartitionTranches}}</span>
            </td>
          </tr>
          <tr>
            <td>{{"distribution_10"|trans}}</td>
            <td>
              <span class="badge badge-info">{{lexicalEntry.metriques.repartitionDisciplines}}</span>
            </td>
          </tr>
          <tr>
            <td>{{"positiv_spec_di"|trans}}</td>
            <td>
              <span class="badge badge-info">{{lexicalEntry.metriques.disciplinesSpec}}</span>
            </td>
          </tr>
        </table>

      </div>
    </div>
  </div>
</div>

{% endif %}
