<div class="accordion">
  <div class="card">
    <div class="card-header">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSemantic" aria-expanded="true">
          {{"lexicalentry_semantique"|trans}}
        </button>
      </h2>
    </div>

    <div id="collapseSemantic" class="collapse">
      <div class="card-body">
         

            <!-- CLASSES -->
            <div class="ml-4">
            {{lexicalEntry.semanticClass.value}}
            {% if lexicalEntry.semanticClassSubClass %}
              <span tabindex="0" class="btn btn-sm btn-outline-secondary" data-trigger="focus" data-toggle="popover" data-html="true" data-placement="top" data-content="{{ lexicalEntry.semanticClassSubClass.descriptionClass ~ lexicalEntry.semanticClassSubClass.testAppartClass }}">
              ? </span> /
              {{lexicalEntry.semanticSubClass.value}}
              <span tabindex="0" class="btn btn-sm btn-outline-secondary" data-trigger="focus" data-toggle="popover" data-html="true" data-placement="top" data-content="{{ lexicalEntry.semanticClassSubClass.descriptionSubClass ~ lexicalEntry.semanticClassSubClass.testAppartSubClass }}">
              ? </span>
            {% endif %}
            </div>

            <fieldset>
              <legend >{{lexicalEntry.cat.value|trans}}(s) {{"same_subclass"|trans}} </legend>
                {% set cohyposCat = lexicalEntry|getCoHypoCat %}
                <div class='colonnes-3 pl-3'>
                {% for cohypo in cohyposCat %}
                  {% set idHuman = cohypo|idtermithToHuman %}
                  <div>
                    <a class="classmembers" href="{{ path("lexicalentry_display", {'id': cohypo.id}) }}">
                      {{idHuman}}
                    </a>
                  </div>
                {% endfor %}
                </div>
            </fieldset>

            {% set cohypos = lexicalEntry|getCoHypoAllCat %}
            {% if cohypos != cohyposCat %}
              <fieldset>
                <legend>{{"other_words"|trans}} {{"same_subclass"|trans}}</legend>
                <div class='colonnes-3 pl-3'>
                {% for cohypo in cohypos %}
                  {% if cohypo not in cohyposCat %}
                    <div>
                      {% set idHuman = cohypo|idtermithToHuman %}
                      <a class="classmembers" href="{{ path("lexicalentry_display", {'id': cohypo.id}) }}">
                        {{idHuman}}
                      </a>
                    </div>
                  {% endif %}
                {% endfor %}
                </div>
              </fieldset>
            {% endif %}

      </div>
    </div>
  </div>
</div>
