{% if lexicalEntry.propMorph is not empty or lexicalEntry.propSynt is not empty or lexicalEntry.varGraph is not empty %}

<div class="accordion">
  <div class="card">
    <div class="card-header">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseSyntaxic" aria-expanded="true">
          {{"lexicalentry_syntaxique"|trans}}
        </button>
      </h2>
    </div>

    <div id="collapseSyntaxic" class="collapse">
      <div class="card-body">

        {% if lexicalEntry.propMorph is not empty %}
        <fieldset>
          <legend>{{"morph_properties"|trans}}</legend>
          {{lexicalEntry.propMorph}}
        </fieldset>
        {% endif %}

        {% if lexicalEntry.propSynt is not empty %}
        <fieldset>
          <legend>{{"synt_properties"|trans}}</legend>
          {{lexicalEntry.propSynt}}
        </fieldset>
        {% endif %}

        {% if lexicalEntry.varGraph is not empty %}
        <fieldset>
          <legend>{{"variantes"|trans}}</legend>
          {{lexicalEntry.varGraph}}
        </fieldset>
        {% endif %}

      </div>
    </div>
  </div>
</div>

{% endif %}
