{% if lexicalEntry.lexicalEntryTrads is not empty %}
<div class="accordion">
  <div class="card">
    <div class="card-header">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTranslations" aria-expanded="true">
          {{"translations"|trans}}
        </button>
      </h2>
    </div>
    <div id="collapseTranslations" class="collapse">
      <ul class="list-group list-group-flush">
      {% for lexicalEntryTrad in lexicalEntry.lexicalEntryTrads %}
          {% include ('lexical-entry-trad/partial.html.twig') with {'from': 'lexicalEntry'} %}
      {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% endif %}
