{% extends "base.html.twig" %}

{% block title %}
  {{ parent() }}
  {{ routine.realisation|replace({'&': " "})|raw }}
{% endblock %}

{% block body %}

<h1 class="display-5 mb-4">
  {{ routine.realisation|replace({'&': " <br/> "})|raw }}
</h1>

<div class="card mb-4 compact">

  <div class="accordion">
    <div class="card">
      <div class="card-header">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#routinePatron" aria-expanded="true">
            {{"routine_patron"|trans}}
          </button>
        </h2>
      </div>
      <div id="routinePatron" class="collapse show">
        <div class="card-body">

            <table class="table">
              <thead class="thead-light">
              <tr>
                {% for head in patronHeader %}
                <th scope="col">{{head}}</th>
                {% endfor %}
              </tr>
              </thead>
              <tbody>
                <tr>
                  {% for data in patronData %}
                  <td scope="col">{{data}}</td>
                  {% endfor %}
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>

  {% set f = routine.fonction %}
  <div class="accordion">
    <div class="card">
      <div class="card-header">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#routineFonctions" aria-expanded="true">
            {{"routine_fonction"|trans}}
          </button>
        </h2>
      </div>
      <div id="routineFonctions" class="collapse show">
        <div class="card-body ml-2">
          <span>
            <a href="{{ path("generalf", { "generalf": f.generalf}) }}">{{ f.generalf | trans }}</a>
            <span class="ml-2 badge badge-light" data-toggle="tooltip" title="{{  (f.generalf ~ "_desc") | trans }}">?</span>
            -
            <a href="{{ path("generalf_label", { "generalf": f.generalf, "label": f.label}) }}">{{ f.label | trans }}</a>
            <span class="ml-2 badge badge-light" data-toggle="tooltip" title="{{  (f.label ~ "_desc") | trans }}">?</span>
          </span>
        </div>
      </div>
    </div>
  </div>
  
  
  {% if routine.exemples is not empty %}
  <div class="accordion">
    <div class="card">
      <div class="card-header">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#routineExemples" aria-expanded="true">
            {{"routine_examples"|trans}}
          </button>
        </h2>
      </div>
      <div id="routineExemples" class="collapse show">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            {% for exemple in routine.exemples %}
              {% if exemple.source %}
              <li class="list-group-item routine-exemple">
                {# <span class="badge badge-secondary">{{exemple.type}}</span> #}
                {{exemple.content|raw}}
                  <button tabindex="0" data-trigger="focus" role="button" type="button" class="btn btn-sm btn-outline-secondary" data-toggle="popover" data-content="{{exemple.source.descriptionBiblio |e('html')}}" data-placement="right">
                    {{exemple.source.value}}
                  </button>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="accordion">
    <div class="card">
      <div class="card-header">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#routineInfos" aria-expanded="true">
            {{"routine_info"|trans}}
          </button>
        </h2>
      </div>
      <div id="routineInfos" class="collapse show">
        <div class="card-body">
            <ul class="list-group list-group-flush">

              {% if routine.type %}
              <li class="list-group-item">
                <span class="item-title text-muted">{{"routine_type"|trans}}</span>
                {{routine.type}}
              </li>
              {% endif %}

              {% if routine.subType %}
              <li class="list-group-item">
                <span class="item-title text-muted">{{"routine_subtype"|trans}}</span>
                {{routine.subType}}
              </li>
              {% endif %}

              {% if routine.subSubType %}
              <li class="list-group-item">
                <span class="item-title text-muted">{{"routine_subsubtype"|trans}}</span>
                {{routine.subSubType}}
              </li>
              {% endif %}
            </ul>  
        </div>
      </div>
    </div>
  </div>

  <div class="accordion">
    <div class="card">
      <div class="card-header">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#routineModele" aria-expanded="true">
            {{"routine_modele"|trans}}
          </button>
        </h2>
      </div>
      <div id="routineModele" class="collapse show">
        <div class="card-body ml-2">
          {{routine.modele}}
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}
