<ul class="list-group list-group-flush">

{% for i, exemple in routine.exemples %}
    {% if i < 5 %}
    <li class="list-group-item routine-exemple">
      {{exemple.content|striptags}}
    </li>
    {% endif %}
  {% endfor %}
</ul>
