<?xml version="1.0" encoding="utf-8" ?>
    <LexicalResource>
        <GlobalInformation>
                {#  VERIFIER LA PRESENTATION : JE NE SAIS QUE DIRE ICI ... #}
            <feat att="label" val="Ressources des collocations du LST"/>
            <feat att="url" val="http://lst.demarre-shs.fr/"/>
            <feat att="author" val="Lidilem"/>
            <feat att="languageCoding" val="ISO 639-1"/>
        </GlobalInformation>

        <Lexicon>
            <LexiconInformation>
                <feat att="language" val="fr"/>
            </LexiconInformation>
            
            {% for collocation in collocations %}
            
            <LexicalEntry   {% autoescape false %}xml:id="{{collocation.value}}" 
                            
                        {% if collocation.fonction is not empty %}
                            {% for f in collocation.fonction %}
                                fonctionRhetGen="{{f.generalf}}" 
                                fonctionRhetSpe="{{f.label}}" 
                            {% endfor %}
                        {% endif %}
                        {% if collocation.fonctionLexicale %}
                        fonctionLexicale="{{collocation.fonctionLexicale}}" 
                        {% endif %}  
                        {% if collocation.structureColloc %}
                        structure="{{collocation.structureColloc|raw}}" 
                        {% endif %}     
                        {% if collocation.propSyntax %}
                        proprietesSyntaxique="{{collocation.propSyntax}}"
                        {% endif %}     
                        {% if collocation.partieDiscours %}
                        partieDiscours="{{collocation.partieDiscours}}"
                        {% endif %}{% endautoescape %}
            > 
                <Lemma><feat att="writtenForm" val="{{collocation.structureGlobale}}"/></Lemma> 
            
                <ListOfComponents>
                    {% if collocation.lexicalEntryBase %}
                    <Component entry="{{collocation.lexicalEntryBase.acceptionUniq}}" type="base"/>
                    {% else %}
                    <Component value="{{collocation.lemmaBase}}" type="base"/>
                    {% endif %}
                    {% if collocation.lexicalEntryCollocatif %}
                    <Component entry="{{collocation.lexicalEntryCollocatif.acceptionUniq}}" type="collocatif"/>
                    {% else %}
                    <Component value="{{collocation.lemmaCollocatif}}" type="collocatif"/>
                    {% endif %}        
                </ListOfComponents>

                <Sense id="{{collocation.value ~ '#sense'}}">
                    {% if export_exemples == true %}
                    {% if collocation.exempleCollocations is not empty %}
                    {% for ex in collocation.exempleCollocations %}
                    {% include 'export/collocations-example.xml.twig' %}
                    {% endfor %}
                    {% endif %}
                    {% endif %}
                </Sense>

                {% if collocation.complement %}
                <complement>{% autoescape false %}{{ "<![CDATA[" ~ collocation.complement|raw ~ "]]>" }}{% endautoescape %}</complement> 
                {% endif %}        
            
                {% if collocation.patronParadigme %}
                <patronParadigme>{{collocation.patronParadigme}}</patronParadigme>
                {% endif %}        

                {% if collocation.patronFixe and collocation.patronFixe != "\n" %}
                <patronFixe>{{collocation.patronFixe}}</patronFixe>
                {% endif %}      
                <statistiques>  
                    <nbOccurrences>{{collocation.nbOccurrences|trim}}</nbOccurrences>
                    <frequence>{{collocation.frequence|trim}}</frequence>
                    <distribDisciplines>{{collocation.nbDisciplines|trim}}</distribDisciplines>
                    <forceAssociation>{{collocation.logLike|trim}}</forceAssociation>
                </statistiques>
            </LexicalEntry>

            {% endfor %}

        </Lexicon>
    </LexicalResource>
