<?xml version="1.0" encoding="utf-8" ?>
    <LexicalResource>
        <GlobalInformation>
            <feat att="label" val="Ressources des unités monolexicales et polylexicales du LST"/>
            <feat att="url" val="http://lst.demarre-shs.fr/"/>
            <feat att="author" val="Lidilem"/>
            <feat att="languageCoding" val="ISO 639-1"/>
        </GlobalInformation>

        <Lexicon>
            <LexiconInformation>
                <feat att="language" val="fr"/>
            </LexiconInformation>
            
        {% for lexicalEntry in entries %}
            <LexicalEntry   xml:id="{{lexicalEntry.acceptionUniq}}"

                            {% if lexicalEntry.propMorph != "" %} {# attention Null pour remplacer '' #}
                            propMorph="{{lexicalEntry.propMorph}}"
                            {% endif %}     

                            {% if lexicalEntry.propSynt != "" %} {# attention Null pour remplacer '' #}
                            propSynt="{{lexicalEntry.propSynt}}"     
                            {% endif %}     

                            {% if lexicalEntry.fonction %}
                            fonctionRhetGen="{{lexicalEntry.fonction.generalf}}" 
                            fonctionRhetSpe="{{lexicalEntry.fonction.label}}"
                            {% endif %}     

                            {% if lexicalEntry.verbConstruction != "" and lexicalEntry.verbConstruction != "\n"  %}
                            verbConstruction="{{lexicalEntry.verbConstruction}}"
                            {% endif %}

                        >                
                <feat att="partOfSpeech" val="{{lexicalEntry.cat.value}}"/> 
                <feat att="lexicalType" val ="{{lexicalEntry.lexicalType.value}}" />
                
                <Lemma>
                    <feat att="writtenForm" val="{{lexicalEntry.lemma.value}}"/>
                    {# On reste LMF compatible pour les variations de forme #}
                    {% if lexicalEntry.varGraph %}
                    <FormRepresentation att="writtenForm" val="{{lexicalEntry.varGraph}}"/> 
                    {% endif %}
                </Lemma>

                <Sense  id="{{lexicalEntry.acceptionUniq ~ "#sense" }}" 
                          classe_semantique="{{lexicalEntry.semanticClass.value}}"  
                          sous_classe_semantique="{{lexicalEntry.semanticSubClass.value}}"
                    >
                    <Definition language="fr">  
                        <feat att="text" val="{{lexicalEntry.meaning}}"/>
                        <feat att="source" val="{{lexicalEntry.source.value}}"/>
                    {# <!--  Si lexicalEntry.sujetComplement et  lexicalEntry.verbConstruction sont une partie de la définition sont là pour aider à comprendre : on utilise tj LMF  
                        <Statement>
                            <feat att="type" val="sujet_complement"/>
                            <feat att="text" val="{{lexicalEntry.sujetComplement}}"/>              
                        </Statement> 
                        Sinon, si c'est sensé être une description à part entière, On crée des éléments custom (cf + haut)  --> #}
                    </Definition>                           

                    {# EXEMPLES (OPTIONNELS) #}
                    {% if export_exemples == true %}
                    {% if lexicalEntry.exemples is not empty %}
                    {% for ex in lexicalEntry.exemples %}
                    {% include 'export/entries-example.xml.twig' %}
                    {% endfor %}
                    {% endif %}
                    {% endif %}
                    {#  ...  #}

                </Sense>

                {% if lexicalEntry.sujetComplement  != "" %}
                <sujetComplement>{% autoescape false %}{{lexicalEntry.sujetComplement|raw|replace({'&':'&amp;'})}}{% endautoescape %}</sujetComplement>
                {% endif %}

                {% if lexicalEntry.comment and lexicalEntry.comment != "\n" %}
                <comment>{{lexicalEntry.comment}}</comment>
                {% endif %}

                {# STATISTIQUES #}
                {% if lexicalEntry.metriques is not empty %}
                    {% include 'export/metrics.xml.twig' %}
                {% endif %}
                {#  ...  #}

            </LexicalEntry>
            
        {% endfor %}

        </Lexicon>
    </LexicalResource>
