<Context> 
    <TextRepresentation {% if ex.sourceExemple %} source="{{ex.sourceExemple.value}}"{% endif %}>
    {{ex.contexteGauche}}<pivot>{{ex.pivot}}</pivot>{{ex.contexteDroit}}
    </TextRepresentation>
    {# <source>
    {% if ex.sourceExemple %}
    {{ex.sourceExemple.descriptionBiblio}}
    {% endif %}
    </source> #}
</Context>
