<?xml version="1.0" encoding="utf-8" ?>
    <sourcesExemples>
        {% for source in sources %}
        <source xml:id="{{source.value}}">
        {{source.descriptionBiblio}}
        </source>
        {% endfor %}
    </sourcesExemples>

