<?xml version="1.0" encoding="utf-8" ?>
    <FonctionsRhet>
    {% set lastGeneralf = null %}
    {% for i, fonction in fonctions %}
        {% set nextGeneralf = (fonctions[ i + 1] is defined) ? fonctions[ i + 1].generalf : null %}
        {% set currentGeneralf =  fonction.generalf %}
        {% set isNewGeneralf = (currentGeneralf != lastGeneralf) %}

        {% if isNewGeneralf %}
            {% set lastGeneralf = currentGeneralf %}
            <FonctionRhetGen xml:id="{{currentGeneralf}}">
                <definition>{{ (currentGeneralf ~ "_complet") | trans |replace({"\n": "", "\r": "", "\t": ""}) }}</definition>
        {% endif %}

                <FonctionRhetSpe xml:id="{{fonction.label}}">
                    <definition>{{ (fonction.label ~ "_desc") | trans |replace({"\n": "", "\r": "", "\t": ""}) }}</definition>
                    <exemple>{{ fonction.exemple |replace({"\n": "", "\r": "", "\t": ""}) }}</exemple>
                </FonctionRhetSpe>

            {# Si prochain classSubClass a une class différent, on ferme#}
            {% if nextGeneralf is null or nextGeneralf != currentGeneralf %}
            </FonctionRhetGen>
            {% endif %}
    {% endfor %}
    </FonctionsRhet>
