<statistiques>
    <nbOccurrences>{{lexicalEntry.metriques.cafreq}}</nbOccurrences>
    <caByM>{{lexicalEntry.metriques.cabym}}</caByM>
    <ccByM>{{lexicalEntry.metriques.ccbym}}</ccByM>
    <ngrammes>{{lexicalEntry.metriques.ngrammes}}</ngrammes>
    <specificite>{{lexicalEntry.metriques.ratio}}</specificite>
    <distribTranches>{{lexicalEntry.metriques.repartitionTranches}}</distribTranches>
    <distribDisciplines>{{lexicalEntry.metriques.repartitionDisciplines}}</distribDisciplines>
    <specifDisciplines>{{lexicalEntry.metriques.disciplinesSpec}}</specifDisciplines>
    <freqDisciplines 
        anthropo="{{lexicalEntry.metriques.freqAnthropo}}"	
        eco="{{lexicalEntry.metriques.freqEco}}"	
        geo="{{lexicalEntry.metriques.freqGeo}}"	
        histoire="{{lexicalEntry.metriques.freqHistoire}}"	
        ling="{{lexicalEntry.metriques.freqLing}}"	
        psycho="{{lexicalEntry.metriques.freqPsycho}}"	
        sciedu="{{lexicalEntry.metriques.freqSciedu}}"	
        sciepo="{{lexicalEntry.metriques.freqSciepo}}"	
        scinfo="{{lexicalEntry.metriques.freqScinfo}}"	
        socio="{{lexicalEntry.metriques.freqSocio}}"
    />
</statistiques>