<?xml version="1.0" encoding="utf-8" ?>
    <Routines>
    {% for routine in routines %}
        <Routine  xml:id="{{routine.code}}"
                {% if routine.type %}
                type="{{routine.type}}"
                {% endif %}
                {% if routine.subType %}
                subtype="{{routine.subType}}"
                {% endif %}
                {% if routine.subSubType %}
                subsubtype="{{routine.subSubType}}"
                {% endif %}
                {% if routine.fonction %}
                fonctionRhetGen="{{routine.fonction.generalf}}" fonctionRhetSpe="{{routine.fonction.label}}"
                {% endif %}
        >
        <modele>{{routine.modele}}</modele>
        <realisation>{{ routine.realisation|replace({'&': "</realisation><realisation>"})|raw }}</realisation>
        <patron>
        {% for i, p in patronList[routine.id]['header'] %}
            <element label="{{p}}">{{patronList[routine.id]['data'][i]}} </element>
        {% endfor %}
        </patron>        
        {% if routine.occurrence %}
        <nbOccurrences>{{routine.occurrence}}</nbOccurrences>
        {% endif %}
        {% if export_exemples == true %}
            {% for ex in routine.exemples %}
                <exemple internalId="{{ex.id}}" {% if ex.source %} source="{{ex.source.value}}"{% endif %} type="{{ex.type}}" simplicity="{{ex.simplicity}}">
                        {% autoescape false %}{{"<![CDATA[" ~ ex.content|raw ~ "]]>"}}{% endautoescape %}
                </exemple>
            {% endfor %}
        {% endif %}
        </Routine>
    {% endfor %}
    </Routines>
