<?xml version="1.0" encoding="utf-8" ?>
    <ClassesSemantiques>
    {% for class in classes %}
        <ClasseSemantique xml:id="{{class.value}}">
            {% for descr in class.classDescription %}
                <definition categorieSyntaxique="{{descr.syntac}}">{% if descr.desc != "" and descr.desc != "\n"  %}{{descr.desc|trim|replace({ "\n": "" })}}{% endif %}{% if descr.test != "" %}<critereTest>{{descr.test|trim|replace({ "\n": "" })}}</critereTest>{% endif %}</definition>
            {% endfor %}
            {% for subclass in class.subclasses %}
                <SousClasseSemantique xml:id="{{subclass.value}}">
                    {% for descr in subclass.subclassDescription %}
                    <definition categorieSyntaxique="{{descr.syntac}}">{% if descr.desc != ""  and descr.desc != "\n"%}{{descr.desc|trim|replace({ "\n": "" })}}{% endif %}{% if descr.test != ""  and descr.test != "\n"%}<critereTest>{{descr.test|trim|replace({ "\n": "" })}}</critereTest>{% endif %}</definition>
                    {% endfor %}
                </SousClasseSemantique>
            {% endfor %}
        </ClasseSemantique>
    {% endfor %}
    </ClassesSemantiques>  
