<?xml version="1.0" encoding="utf-8" ?>
    <LexicalResource>
        <GlobalInformation>
                {#  VERIFIER LA PRESENTATION : JE NE SAIS QUE DIRE ICI ... #}
            <feat att="label" val="Ressources des traductions du LST (traductions des unités monolexicales, polylexicales et collocations)"/>
            <feat att="url" val="http://lst.demarre-shs.fr/"/>
            <feat att="author" val="Lidilem"/>
            <feat att="languageCoding" val="ISO 639-1"/>
        </GlobalInformation>

        {% for lang, translations in selectedTranslations  %}

            <Lexicon>
                <LexiconInformation>
                    <feat att="language" val="{{lang}}"/>
                </LexiconInformation>

                {% for translation in translations %}

                    <LexicalEntry  {% autoescape false %}xml:id = "{{translation.lemmaTrad.value}}"
                                    xml:lang="{{translation.lemmaTrad.language.name}}"{% endautoescape %} >

                        <Lemma>
                            <feat att="writtenForm" {% autoescape false %}val="{{translation.lemmaTrad.value}}"{% endautoescape %}/>
                        </Lemma>

                        <Sense {% autoescape false %}id='{{translation.lemmaTrad.value ~ "#sense"}}'{% endautoescape %}> 
                            <Context>
                                <TextRepresentation xml:lang="{{translation.lemmaTrad.language.name}}">{{translation.exampleCible|trim}}</TextRepresentation>
                            </Context>
                            <Context>
                                <TextRepresentation xml:lang="fr">{{translation.exampleSource|trim}}</TextRepresentation>
                            </Context>      
                        </Sense>

                        {% if translation.synonyms != " " and translation.synonyms != ""  %} 
                        {% set clean_synonyms = translation.synonyms|replace({'，':','}) %}
                        {% set synonyms = clean_synonyms|split(',') %}
                        {% for syn in synonyms %}
                        <RelatedForm type="synonym">
                            <feat att="writtenForm" {% autoescape false %}val="{{syn}}"{% endautoescape %}/>
                        </RelatedForm>
                        {% endfor %}
                        {% endif %}

                        {% if translation.usageGeneral != "\n" and translation.usageGeneral != "" %}
                        <usageGen>{{translation.usageGeneral|raw}}</usageGen>
                        {% endif %}
                        {% if translation.usageSpecific != "\n" and translation.usageSpecific != "" %}
                        <usageSpe>{{translation.usageSpecific|raw}}</usageSpe>
                        {% endif %}

                        {% if translation.comment != "\n" %}
                        <comment>{{translation.comment}}</comment>
                        {% endif %}
                        
                        {% if translation.nbOcc %}
                        <statistiques><nbOccurrences>{{translation.nbOcc|trim}}</nbOccurrences></statistiques>
                        {% endif %}
                    </LexicalEntry>
                    {% if translation.lexicalEntry %}
                    <SenseAxis {% autoescape false %}senses="{{ translation.lemmaTrad.value ~ "#sense" ~ ' '~ translation.lexicalEntry.acceptionUniq ~ "#sense"}}" type="translation"{% endautoescape %}/>
                    {% endif %}
                {% endfor %}
                
            </Lexicon>

        {% endfor %}

    </LexicalResource>
