{% extends "base.html.twig" %}

{% block title %}
  {{ parent() }}
  {{lemma.value}}
{% endblock %}

{% import "lexical-entry/macros.html.twig" as macros %}

{% block body %}
  <h1>{{lemma.value}}</h1>
  <ul>
  {% for i, lexicalentry in lemma.lexicalentries %}
    <li>
      {{i}} Acception = <a href="{{ path("lexicalentry_display", {'id': lexicalentry.id}) }}">{{lexicalentry.acceptionUniq}}</a>
    </li>
  {% endfor %}
  </ul>

  <h2>Polylexicaux</h2>
  <ul>
  {% for i, entry in entries %}
    <li>
      {{i}} Acception = {{ macros.entryLink(entry) }}
    </li>
  {% endfor %}
  </ul>
{% endblock %}
