{% extends "base.html.twig" %}

{% block title %}
  {{ parent() }}
  {{"lst_words"|trans}}
{% endblock %}


{% block body %}

<h1 class="display-1 mb-4">
    {{"lst_words"|trans}}
 </h1>

<div class="row">
  <div class="col-6">
    <span class="btn btn-secondary btn-sort" data-order="asc" data-metrique="alpha"><i class="fas fa-sort-alpha-down"></i></span>
    <span class="btn btn-secondary btn-sort" data-order="asc" data-metrique="cabym">{{"frequency"|trans}} <i class="fas fa-sort"></i></span>
    <span class="btn btn-secondary btn-sort" data-order="asc" data-metrique="ratio">{{"specificity"|trans}} <i class="fas fa-sort"></i></span>
  </div>
  <div class="col">
    {% include "searchFilter.html.twig" %}
  </div>
</div>

    <div class="colonnes" id="lemmas">
    {% for lemma in lemmas %}
        {% set ratio =  (lemma.lexicalEntries[0].metriques) ? lemma.lexicalEntries[0].metriques.ratio : 0 %}
        {% set cabym =  (lemma.lexicalEntries[0].metriques) ? lemma.lexicalEntries[0].metriques.cabym : 0 %}
        <div id="{{lemma.id}}" class="entry listelemma" data-cabym="{{cabym}}" data-ratio="{{ratio}}" data-alpha="{{lemma.value|normalize}}">
          {% if lemma.lexicalEntries|length > 1 %}
              <a class="valuelemma" href="#">
                {{lemma.value}}
              </a>

              <a tabindex="0" title="Acceptions" role="button" class="btn btn-sm btn-outline-secondary" data-trigger="focus" data-toggle="popover" data-html="true" data-placement="top" data-content="<ul class='list-group list-group-flush'>
                {% for entry in lemma.lexicalEntries %}
                  <li class='list-group-item'>
                    {% set descriptionEntry = entry.meaning %}
                    {% if entry.cat.value == "V" %}
                      {% set descriptionEntry = descriptionEntry ~ " <br> <span class='text-muted'>" ~ entry.verbConstruction ~ "</span>" %}
                    {% endif %}
                    <a href='{{ path("lexicalentry_display", {'id': entry.id}) }}'>
                      {{lemma.value}} ({{entry.cat.value}})
                    </a> {{descriptionEntry}}
                  </li>
                {% endfor %}
              </ul>">?</a>
          {% else %}
            <a class="valuelemma" href="{{ path("lexicalentry_display", {'id': lemma.lexicalEntries[0].id}) }}">
              {{lemma.value}}
            </a>
          {% endif %}
          <span class="display-metrique text-muted"></span>
        </div>
    {% endfor %}
    </div>

{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script src="{{asset("build/js/filterEntryTab.js")}}"></script>
  <script src="{{asset("build/js/sortLemmas.js")}}"></script>
{% endblock %}
