{% extends "base.html.twig" %}

{% block title %}
  {{ parent() }}
  {{"about"|trans}}
{% endblock %}

{% block body %}

<h1 class="display-1 mb-4 mt-4">{{"about"|trans}}</h1>

<div class="jumbotron" style="background-color:white">
  <div class="container">
    <p>{{"aboutLST_1"|trans}}</p>
    <p>{{"aboutLST_2"|trans}}</p>
    <p>{{"aboutLST_3"|trans|raw}}</p>
  </div>
</div>

<div class="row">
  <div class="col">
      <div class="card">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <h5 class="card-title"><i class='fas fa-quote-right'></i> {{"mainPublis"|trans}}</h5>
              <li class="list-group-item"><i class='far fa-newspaper'></i>Li, J., & Hatier, S. (2024). Expérimentation sur les usages d’un outil lexical numérique pour aider à la rédaction scientifique. Alsic. Apprentissage des Langues et Systèmes d’Information et de Communication. Lien : <a href="https://journals.openedition.org/alsic/7458">https://journals.openedition.org/alsic/7458</a> </li>
             
             <li class="list-group-item"><i class='fas fa-graduation-cap'></i> Hatier, S. (2016). Identification et analyse linguistique du lexique scientifique transdisciplinaire. Approche outillée sur un corpus d'articles de recherche en SHS (Thèse de doctorat, Université Grenoble Alpes). Lien : <a href="https://theses.hal.science/tel-01690554/file/HATIER_2016_archivage.pdf">https://theses.hal.science/tel-01690554/file/HATIER_2016_archivage.pdf</a> </li>
            
             <li class="list-group-item"><i class='far fa-newspaper'></i> Hatier, S., & Tutin, A. (2019). Lexique et phraséologie scientifiques transdisciplinaires en sciences humaines: de la modélisation à la création d’une ressource lexicale. FIU Francophonie et innovation à l'université. Lien : <a href="https://www.auf.org/ressources-et-services/langue-francaise/">https://www.auf.org/ressources-et-services/langue-francaise/</a></li>

             <li class="list-group-item"><i class='far fa-newspaper'></i> Hatier, S., Augustyn, M., Yan, R., Tran, T. T. H., Tutin, A., & Jacques, M. - P. French crossdisciplinary scientific lexicon: extraction and linguistic analysis. Dans T. Margalitadze & G. Meladze (éd.), Proceedings of the XVII EURALEX International congress Lexicography & Linguistic diversity (p. 355–365). Lien : <a href="http://lst.demarre-shs.fr/data/euralex.pdf">http://lst.demarre-shs.fr/data/euralex.pdf</a></li>

           <li class="list-group-item"><i class='fas fa-book'></i> Jacques, M. P., & Tutin, A. (Eds) (2018). Lexique transversal et formules discursives des sciences humaines. Londres : ISTE Group. Lien : <a href="https://iste-editions.fr/products/lexique-transversal-et-formules-discursives-des-sciences-humaines">https://iste-editions.fr/products/lexique-transversal-et-formules-discursives-des-sciences-humaines</a></li>

           <li class="list-group-item"><i class='fas fa-graduation-cap'></i> Ji, Y. (2022). Les routines de guidage du lecteur dans les écrits scientifiques en français (Thèse de doctorat, Université Grenoble Alpes). Lien : <a href="https://theses.hal.science/tel-03999117/">https://theses.hal.science/tel-03999117/</a></li>

             <li class="list-group-item"><i class='fas fa-book'></i> Luodonpää-Manni, M., Grossmann, F., & Tutin, A. (Eds.). (2022). Les routines discursives dans le discours scientifique oral et écrit. Grenoble : UGA éditions. Lien : <a href="https://www.uga-editions.com/menu-principal/collections-et-revues/nos-collections/langues-gestes-paroles/les-routines-discursives-dans-le-discours-scientifique-oral-et-ecrit-936652.kjsp">https://www.uga-editions.com/menu-principal/collections-et-revues/nos-collections/langues-gestes-paroles/les-routines-discursives-dans-le-discours-scientifique-oral-et-ecrit-936652.kjsp</a></li>

             <li class="list-group-item"><i class='fas fa-graduation-cap'></i> Tran, T. T. H. (2014). Description de la phraséologie transdisciplinaire des écrits scientifiques et réflexions didactiques pour l'enseignement à des étudiants non-natifs: application aux marqueurs discursifs (Thèse de doctorat, Université Grenoble Alpes). Lien : <a href="https://theses.hal.science/tel-01330952/">https://theses.hal.science/tel-01330952/</a></li>

             <li class="list-group-item"><i class='far fa-newspaper'></i> Tutin, A. (2007). Autour du lexique et de la phraséologie des écrits scientifiques. Revue française de linguistique appliquée, 12(2), 5-14. Lien : < <a href=" https://hal.science/hal-01336284/file/RFLA_122_0005.pdf"> https://hal.science/hal-01336284/file/RFLA_122_0005.pdf</a></li>

             <li class="list-group-item"><i class='fas fa-graduation-cap'></i> Yan, R. (2017). Étude des constructions verbales scientifiques dans une perspective didactique: utilisation des corpus dans le diagnostic des besoins langagiers en FLE à l'aide des techniques de TAL (Thèse de doctorat, Université Grenoble Alpes). Lien :   <a href="https://theses.hal.science/tel-01691923">https://theses.hal.science/tel-01691923</a></li>
          </ul>
        </div>
      </div>
    </div>
</div>
<br/>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><i class='fas fa-file-download'></i> {{"datafiles"|trans}}</h5>
        <p>{{"datadownloaddepot"|trans}}</p>
        <a href="https://hdl.handle.net/11403/lst-data/v1"><i class='fas fa-file-code'></i></a> {{"depotOrtolangLST"|trans}} <br/>
        <a href="{{asset("data/LST_csv.zip")}}"><i class='fas fa-file-archive'></i></a> {{"archivesLST"|trans}}
        <br/>
        <a href="{{asset("data/classes.pdf")}}"><i class='fas fa-file-pdf'></i></a> {{"tablPresClass"|trans}}
        <br/>
        <a href="https://www.ortolang.fr/market/corpora/termith"><i class='fas fa-file-code'></i></a> {{"depotOrtolang"|trans}}
        <br/>
        <a href="https://hal.science/hal-04010997"><i class='fas fa-file-code'></i></a> {{"depotHAL"|trans}}
        <br/>
      </div>
    </div>
  </div>
</div>

<div class="mt-4">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><i class='fas fa-users'></i> {{"creditsLST"|trans}}</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <a>
            <span class="ml-3 text-muted">
            <i class='fas fa-laptop-code'></i> {{"devInter"|trans}}</span>
            : Sylvain Hatier, Arnaud Bey
            </a>
        </li>
        <li class="list-group-item">
          <a>
            <span class="ml-3 text-muted">
              <i class='fas fa-edit'></i> {{"annotLST"|trans}}
            </span>
            : Sylvain Hatier, Agnès Tutin, Marie-Paule Jacques, Evelyne Jacquey, Laurence Kister</a>
        </li>
        <li class="list-group-item">
          <a>
            <span class="ml-3 text-muted">
              <i class="fas fa-sitemap"></i> {{"classLST"|trans}}
            </span>
            : Magda Augustyn (Adjectifs), Hoai Tran (Adverbes), Sylvain Hatier (Noms), Rui Yan (Verbes)</a>
        </li>
        <li class="list-group-item">
          <a>
            <span class="ml-3 text-muted">
            <i class="fas fa-link"></i> {{"collLST"|trans}}
            </span>
            : Agnès Tutin, Hoai Tran</a>
        </li>
        <li class="list-group-item">
          <a>
            <span class="ml-3 text-muted">
              <i class="fas fa-brain"></i> {{"fonctionRoutine"|trans}}
            </span>
            : Yujing Ji, Jingrao Li, Yinjie Wang</a>
        </li>
        <li class="list-group-item">
          <a>
            <span class="ml-3 text-muted">
              <i class='fas fa-eye'></i> {{"revisionLST"|trans}}
            </span>
            {{"exempleGlose"|trans}}  : Sylvain Hatier, Agnès Tutin, Tiphaine Mout</a>
        </li>
        <li class="list-group-item">
          <a>
            <span class="ml-3 text-muted">
              <i class="fas fa-file-export"></i> {{"exportJSONXML"|trans}} 
            </span>
             : Théo Roulet</a>
        </li>
         <li class="list-group-item">
          <a>
            <span class="ml-3 text-muted">
              <i class="fas fa-chalkboard-teacher"></i> {{"lstDecouverte_about"|trans}} 
            </span>
             : Lilian Bouveron</a>
        </li>

      </ul>
    </div>
  </div>
</div>
<br/>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><i class='fas fa-file-download'></i> {{"dautresRessource"|trans}}</h5>
        La base <a href="https://plateformes.u-paris.fr/base-daide-a-la-redaction-de-textes-scientifiques-artes/">ARTES</a> (Aide à la Rédaction de TExtes Scientifiques) <br/>
        La base <a href="http://olst.ling.umontreal.ca/lexitrans/">Lexitrans</a> (OLST, Université de Montréal)<br/>
        The Louvain EAP Dictionary <a href="https://leaddico.uclouvain.be/about">(LEAD)</a><br/>
        <a href="https://www.phrasebank.manchester.ac.uk/">The Academic Phrasebank</a><br/>
        <a href="http://www.dicesp.com:8083/">HARTA</a>, Herramienta de Ayuda a la Redacción de Textos Académicos

      </div>
    </div>
  </div>
</div>
{%  endblock %}
