{% set isAdmin = is_granted('ROLE_ADMIN') %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <!-- <link rel="icon" type="image/png" /> -->
        <title>{% block title %}{{"baseLSTshs"|trans}} - {% endblock %}</title>
        {% block stylesheets %}
        <link href="{{ asset("build/css/style.css") }}" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
      {% include('header.html.twig') %}
      <div class="{% block container %}container{% endblock %}">
        <div class="row">
          <div class="col">
            {% include('flashmessages.html.twig') %}
          </div>
        </div>
        <div class="row">
          <div class="col">
            {% block body %}
            {% endblock %}
          </div>
        </div>
      </div>

    <footer id="footer" class="text-muted">
      <div class="container">
        <p class="mb-0">
          <a class="btn" href=" http://univ-grenoble-alpes.fr" target="_blank">
            <img class="logo-bottom" data-toggle="tooltip" title="Université Grenoble Alpes" src="{{ asset('img/logos/logo_univ_grenoble_alpes.jpg') }}"/>
          </a>
          <a class="btn" href="https://demarreshs.hypotheses.org/" target="_blank">
            <img class="logo-bottom" data-toggle="tooltip" title="DémarreSHS!" src="{{ asset('img/logos/logo_demarre_shs.jpg') }}"/>
          </a>
          <a class="btn" href="https://www.huma-num.fr/" target="_blank">
            <img class="logo-bottom" data-toggle="tooltip" title="Huma-Num - Hébergeur" src="{{ asset('img/logos/logo_hn.jpg') }}"/>
          </a>

          <a class="btn" href="https://llasic.univ-grenoble-alpes.fr/lidilem/laboratoire-lidilem-197376.kjsp" target="_blank">
            <img class="logo-bottom" data-toggle="tooltip" title="LIDILEM" src="{{ asset('img/logos/logo_lidilem.jpg') }}"/>
          </a>
          <a class="btn" href="http://www.atilf.fr/ressources/termith/index.php" target="_blank">
            <img class="logo-bottom" data-toggle="tooltip" title="TermITH" src="{{ asset('img/logos/logo_termith.png') }}"/>
          </a>
          <a class="btn" href="https://www.culture.gouv.fr/Thematiques/Langue-francaise-et-langues-de-France" target="_blank">
            <img class="logo-bottom" data-toggle="tooltip" title="Délégation générale à la langue française et aux langues de France" src="{{ asset('img/logos/logo_DGLFLF.png') }}"/>
          </a>

        </p>
      </div>
      <a href="#top-anchor" id="bottom-icon"><i class="fas fa-arrow-up"></i></a>
    </footer>

    {% block javascripts %}
    <!-- Matomo -->
  <script type="text/javascript">
    var _paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//matamo.demarre-shs.fr/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '1']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
    </script>
    <!-- End Matomo Code -->
    <script src="{{asset("build/runtime.js")}}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{asset("build/js/vendor.js")}}"></script>
    <script src="{{asset("build/js/main.js")}}"></script>
    <script src="{{asset("build/js/search.js")}}"></script>
    {% endblock %}
    </body>
</html>
