<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#2a2e46;border-bottom:1px solid grey" id="top-anchor">
  <a class="navbar-brand" href="{{ path('homepage') }}">
    <i class="fas fa-book-open"></i> Base LST SHS
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
    </div>
  </div>
  <div class="navbar-nav pull-right">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          Ressources
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="{{path('homepage')}}">
            <i class="fas fa-book-open"></i> {{"homepage"|trans}}
          </a>

          <hr/>

          <a class="dropdown-item" href="{{path('lemma_all')}}">
            <i class="far fa-list-alt"></i> {{"lst_words"|trans}}
          </a>

          <a class="dropdown-item" href="{{path('expressions_all')}}">
            <i class="fas fa-link"></i> {{"expressions"|trans}}
          </a>

          <a class="dropdown-item" href="{{path('expressions_routines')}}">
            <span class="pl-4">- {{"Phrases typiques"|trans}}</span>
          </a>

          <a class="dropdown-item" href="{{path('expressions_collocations')}}">
           <span class="pl-4">- {{"Combinaisons lexicales"|trans}}</span>
          </a>

          <a class="dropdown-item" href="{{path('expressions_polylexicals')}}">
            <span class="pl-4">- {{"Locutions"|trans}}</span>
          </a>

          <a class="dropdown-item" href="{{path('fonctions')}}">
            <i class="fas fa-brain"></i> {{"fonctions"|trans}}
          </a>

          {% for language in getLanguages() %}
          <a class="dropdown-item" href="{{path('trad_language', {shortName: language.shortName})}}">
            <i class="fa fa-language" aria-hidden="true"></i> {{language.name|trans}}
          </a>
          {% endfor %}

          <hr/>

          <a class="dropdown-item" href="{{path('classification')}}">
            <i class="fas fa-sitemap"></i> {{"semantic_classes"|trans}}
          </a>

          <a class="dropdown-item" href="{{path('article_all')}}">
            <i class='fas fa-highlighter'></i> {{"annotated_texts"|trans}}
          </a>

          <a class="dropdown-item" href="{{path('collocation_all')}}">
            <i class="fas fa-link"></i> {{"collocations"|trans}}
          </a>

          <a class="dropdown-item" href="{{path('about')}}">
            <i class="fa fa-question"></i> {{"about"|trans}}
          </a>

        </div>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
           {{"locale"|trans}}
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="{{path("locale_change", { "_locale" : 'fr'})}}">Français</a>
          <a class="dropdown-item" href="{{path("locale_change", { "_locale" : 'en'})}}">English</a>
          <a class="dropdown-item" href="{{path("locale_change", { "_locale" : 'zh'})}}">中文</a>
        </div>
      </li>


        {% if isAdmin %}
          {# <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-project-diagram"></i> Graphes
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">

                <!-- <a class="dropdown-item" href="{{ path('lexicalentry_graph') }}">
                  Graphe Entrées
                </a> -->
                <!-- <a class="dropdown-item" href="{{ path('classification_graph') }}">
                  Graphe Classes
                </a> -->
              </div>
          </li> #}
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-cogs"></i> Administration
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{{ path('admin_logs') }}">Données lacunaires</a>
                  <a class="dropdown-item" href="{{ path('admin_list_users') }}">{{"users"|trans}}</a>
                  <a class="dropdown-item" href="{{ path('admin_import_csv') }}">CSV</a>
                  <a class="dropdown-item" href="{{ path('admin_import_article') }}">Import texte annoté</a>
                  <a class="dropdown-item" href="{{ path('collocation_graph') }}">Graphe Collocations</a>
                  <a class="dropdown-item" href="{{ path('export_options') }}">Exporter la base</a>
              </div>
          </li>
        {% endif %}

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <a class="dropdown-item" href="{{ path('app_register') }}">Inscription</a>
            <a class="dropdown-item" href="{{ path('app_login') }}">Connexion</a>
            {% else %}
            <a class="dropdown-item" href="{{ path('app_logout') }}">
              Logout
            </a>
            {% endif %}
          </div>
        </li>

      <li class="nav-item ">
        <a class="nav-link active" href="{{path("legal_notice")}}" role="button">
           {{"legal_notice"|trans}}
        </a>
      </li>

      </div>
</nav>
