<div class="form-group">
  <div class="input-group">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <i class="fa fa-search" aria-hidden="true"></i>
      </div>
    </div>
    <input type="text" class="form-control" id="rechercheContrainte" placeholder="{{"search"|trans}}">
  </div>
</div>
