{% extends 'base.html.twig' %}

{% block title %} {{parent()}} Connexion {% endblock %}

{% block body %}
{% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<h1 class="display-1 mb-4">
    Connexion
 </h1>

<div class="card">
  <div class="card-body">
    <form method="post">
      <div class="form-group">
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
      </div>

      <div class="form-group">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
      </div>

      <input type="hidden" name="_csrf_token"value="{{ csrf_token('authenticate') }}">

      <div class="checkbox mb-3">
        <label>
        <input type="checkbox" name="_remember_me"> Remember me
        </label>
      </div>

      <button class="btn btn-primary" type="submit">
      Se connecter
      </button>
    </form>
    <div>
      <a href="{{ path('app_forgotten_password') }}">Mot de passe oublié</a>
    </div>
  </div>
</div>

{% endblock %}
