{% extends 'base.html.twig' %}

{% block title %} {{parent()}} Inscription {% endblock %}

{% block body %}
<h1 class="display-1 mb-4">
    Inscription
 </h1>

<div class="card">
  <div class="card-body">
    <form method="post">
        <div class="form-group">
          <label for="inputEmail" class="sr-only">Email</label>
          <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
        </div>
        <div class="form-group">
           <label for="inputPassword" class="sr-only">Mot de passe</label>
           <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
        </div>
       <button class="btn btn-primary" type="submit">
           S'inscrire
       </button>
    </form>
  </div>
</div>
{% endblock %}
