@import "~bootstrap/dist/css/bootstrap.min.css";

:root {
  --orange: #e84e0f;
  --blue: #2a2e46;
}

body {
  background-color: var(--blue);
  background-image: url("../img/gplay.png");
}

#elementsModal .modal-content,
#search-modal .modal-content {
  background-color: var(--blue);
  background-image: url("../img/cubes.png");
}

#elementsModal .modal-footer {
  border-top: none;
}

body>.container-fluid {
  padding-top: 40px;
  margin: 0 !important;
  padding: 0 !important;
}

h1.display-1,
h1.display-4,
h1.display-5,
h2.display-5 {
  color: white !important;
  font-weight: 400;
}

h1 .btn {
  font-size: 1.8rem;
}

.nav-tabs a,
.nav-tabs a:focus,
.nav-tabs a:hover,
.btn:focus,
.btn:hover {
  outline: 0;
  box-shadow: none;
}

.btn-link {
  color: #888;
}

.btn-link:hover {
  color: #aaa;
}

.entry {
  padding: 4px;
}

h4.anchor-notvisible {
  display: none;
}

#bottom-icon {
  position: fixed;
  bottom: 2%;
  right: 2%;
  width: 50px;
}

.btn-secondary,
.btn-secondary:focus {
  background-color: #fff;
  color: var(--orange);
  border: 1px solid var(--orange);
}

.btn-secondary:hover,
.btn-secondary:active {
  color: #fff;
  background-color: var(--orange);
  border-color: var(--orange);
}

.badge-secondary {
  padding: 5px;
  color: #fff;
  background-color: var(--orange);
  border-color: var(--orange);
}

.badge-inverted-secondary {
  background-color: #fff;
  color: var(--orange);
  border: 1px solid var(--orange);
}

.item-title {
  display: inline-block;
  min-width: 260px;
}

.collocation-fonction {
  padding-left: 260px;
}

fieldset {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding-bottom: 1rem;
  margin: 1rem;
  padding: 0 1rem 1rem 1rem;
}

legend {
  margin-left: 10px;
  background: white;
  font-size: inherit;
  color: grey;
  padding: 0 5px;
  width: auto;
}

.popover {
  max-width: 600px;
}

.accordion>.card>.card-header {
  background-color: var(--orange);

}

.accordion>.card>.card-header button {
  color: white;
}

.accordion>.card>.card-header>h2>button:after {
  font-weight: bolder;
  content: "−";
  float: right;
  color: white;
}

.accordion>.card>.card-header>h2>button.collapsed:after {
  content: "＋";
}

.compact .list-group-item {
  padding: .4rem .6rem !important;
}

.compact .card-body {
  padding: .6rem !important;
}


/********************
  FOOTER
/********************/
#footer {
  margin-top: 200px;
  color: #999;
  text-align: center;
  background-color: white;
  border-top: 0.05rem solid #e5e5e5;
}

.logo-bottom {
  margin-right: 5px;
  height: 48px;
}

/********************
  COLONNES
/********************/
.colonnes,
.colonnes-1,
.colonnes-2,
.colonnes-3 {
  column-rule: dotted lightgrey;
  padding: 1px;
}

.colonnes {
  column-count: 5;
}

.colonnes-2 {
  column-count: 2;
}

.colonnes-1 {
  column-count: 1;
}

.colonnes-3 {
  column-count: 3;
}

.listecollocation:nth-child(even of :not([style*="display: none"])),
.listelemma:nth-child(even of :not([style*="display: none"])),
.listeentry:nth-child(even of :not([style*="display: none"])),
.listeroutine:nth-child(even of :not([style*="display: none"])) {
  background: #FFF;
}

.listeroutine:nth-child(odd of :not([style*="display: none"])),
.listeentry:nth-child(odd of :not([style*="display: none"])),
.listecollocation:nth-child(odd of :not([style*="display: none"])),
.listelemma:nth-child(odd of :not([style*="display: none"])) {
  background: lightgrey;
}

a.valuelemma,
a.classmembers,
a.itemColonnes {
  text-decoration: none;
  color: inherit;
}

/********************
  ARTICLE
/********************/
.article-content {
  text-align: justify;
}

#article-btns {
  position: fixed;
  left: 45px;
  top: 100px;
}

LST {
  font-weight: bold;
}

LST[CAT="N"].showLST,
#article-btns>[data-cat="N"] {
  background-color: rgba(0, 255, 255);
  color: black;
}

LST[CAT="V"].showLST,
#article-btns>[data-cat="V"] {
  background-color: rgba(0, 128, 0);
  color: white;
}

LST[CAT="ADV"].showLST,
#article-btns>[data-cat="ADV"] {
  background-color: rgba(128, 0, 0);
  color: white;
}

LST[CAT="A"].showLST,
#article-btns>[data-cat="A"] {
  background-color: rgba(255, 255, 0);
  color: black;
}

/********************
  RECHERCHE
/********************/
#search_results {
  background-color: white;
  margin-left: 40px;
  display: block;
}

#search_results .badge {
  display: inline-block;
  min-width: 100px;
}

/********************
  GRAPH
/********************/
#cy {
  width: 100%;
  height: 800px;
  display: block;
  border: 1px solid lightgrey;
}

/********************
  ROUTINE
/********************/

rout {
  font-weight: bold;
}

rout > * {
  font-weight: normal;
}

/********************
  FREQ & SPECIFICITY
/********************/
.custom-progress {
  margin-top: 8px;
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,104,0,1) 30%, rgba(247,255,0,1) 60%, rgba(67,255,0,1) 100%); 
  background-repeat: no-repeat;
}

.progress-bar {
  border-right: 6px solid black;
  background-color: transparent;
}