{% extends 'base.html.twig' %}

{% block title %}
  {{ parent() }}
  Import CSV
{% endblock %}


{% block body %}
<h1 class="text-center pt-4 pb-2">
  <button type="button" class="btn btn-lg btn-block btn-light p-4">
    Import CSV
  </button>
</h1>

<div class="card">
  <div class="card-body">
  {{form(form)}}
  </div>
</div>
{% endblock %}
