{% extends 'base.html.twig' %}

{% block title %}
  {{ parent() }}
  Import article
{% endblock %}


{% block body %}
<h1 class="text-center pt-4 pb-2">
  <button type="button" class="btn btn-lg btn-block btn-light p-4">
    Import article
  </button>
</h1>

<div class="card">
  <div class="card-body">
    {{form(form)}}
    <!-- ajout champ input file pour chargement de l'article en base
    donner possibilité de supprimer les articles en tant qu'admin -->
    <hr/>
    <table class="table">
    {% for article in articles %}
    <tr>
      <td>{{article.id}}</td>
      <td>{{article.name}}</td>
      <td><a class="btn btn-warning" href="{{path('admin_delete_article',{'id':article.id})}}">{{"delete"|trans}}</a></td>
    </tr>
    {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
