{% extends 'base.html.twig' %}

{% block title %}
  {{ parent() }}
  Résumé des données lacunaires
{% endblock %}

{% block body %}
<h1 class="text-center pt-4 pb-2">
  <button type="button" class="btn btn-lg btn-block btn-light p-4">
    {{"summary_gaps"|trans}}
  </button>
</h1>

<div class="card">
  <div class="card-body">

    <div class="accordion mt-3" id="accordionExample">
      {# MISSING TRAD BASE (collocation ou lexicalEntry) #}
      <div class="card">
        <div class="card-header">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-missingTrads">
              Traductions sans base ({{tradsWoLstBase|length}})
            </button>
          </h2>
        </div>
        <div id="collapse-missingTrads" class="collapse" data-parent="#accordionExample">
          <div class="card-body">
            <table class="table">
              {% for lexicalEntryTrad in tradsWoLstBase %}
              <tr>
                <td>{{lexicalEntryTrad.id}}</td>
                <td>
                    {{lexicalEntryTrad.lemmaTrad.value}} ({{lexicalEntryTrad.lemmaTrad.language.shortName}})
                </td>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
      {# END MISSING EXAMPLES #}

      {# MISSING EXAMPLES #}
      <div class="card">
        <div class="card-header">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-missingExamples">
              Collocations sans exemples ({{collocsWoEx|length}})
            </button>
          </h2>
        </div>
        <div id="collapse-missingExamples" class="collapse" data-parent="#accordionExample">
          <div class="card-body">
            <table class="table">
              {% for colloc in collocsWoEx %}
              <tr>
                <td>{{colloc.id}}</td>
                <td>
                    <a href="{{ path("collocation_display", {'id': colloc.id}) }}">{{colloc.value}}</a>
                </td>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
      {# END MISSING EXAMPLES #}

      {# MISSING SOURCE IN EXAMPLES #}
      <div class="card">
        <div class="card-header">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-exampleWithoutSource">
              Collocations avec exemples sans sources ({{collocsWoSource|length}})
            </button>
          </h2>
        </div>
        <div id="collapse-exampleWithoutSource" class="collapse" data-parent="#accordionExample">
          <div class="card-body">
            <table class="table">
              {% for colloc in collocsWoSource %}
              <tr>
                <td>{{colloc.id}}</td>
                <td>
                    <a href="{{ path("collocation_display", {'id': colloc.id}) }}">{{colloc.value}}</a>
                </td>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
      {# END MISSING SOURCE IN EXAMPLES #}

      {# MISSING CYCLIC #}
      <div class="card">
        <div class="card-header">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-cycliques">
              Collocations cycliques ({{collocsCyclic|length}})
            </button>
          </h2>
        </div>
        <div id="collapse-cycliques" class="collapse" data-parent="#accordionExample">
          <div class="card-body">
            <table class="table">
              {% for colloc in collocsCyclic %}
              <tr>
                <td>{{colloc.id}}</td>
                <td>
                    <a href="{{ path("collocation_display", {'id': colloc.id}) }}">{{colloc.value}}</a>
                </td>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
      {# END CYCLIC #}

      {# MISSING LE EXAMPLES #}
      <div class="card">
        <div class="card-header">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-le-missingExamples">
              Entrée sans exemples ({{entriesWoEx|length}})
            </button>
          </h2>
        </div>
        <div id="collapse-le-missingExamples" class="collapse" data-parent="#accordionExample">
          <div class="card-body">
            <table class="table">
              {% for entry in entriesWoEx %}
              <tr>
                <td>{{entry.id}}</td>
                <td>
                    <a href="{{ path("lexicalentry_display", {'id': entry.id}) }}">{{entry.acceptionUniq}}</a>
                </td>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
      {# END LE EXAMPLES #}

      {# MISSING LE SOURCE EXAMPLES #}
      <div class="card">
        <div class="card-header">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-le-exampleWithoutSource">
              Entrées avec exemples sans sources ({{entriesWoSource|length}})
            </button>
          </h2>
        </div>
        <div id="collapse-le-exampleWithoutSource" class="collapse" data-parent="#accordionExample">
          <div class="card-body">
            <table class="table">
              {% for entry in entriesWoSource %}
              <tr>
                <td>{{entry.id}}</td>
                <td>
                      <a href="{{ path("lexicalentry_display", {'id': entry.id}) }}">{{entry.acceptionUniq}}</a>
                </td>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
      {# END MISSING LE SOURCE EXAMPLES #}

      {# MISSING METRIQUES  #}
      <div class="card">
        <div class="card-header">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-le-exampleWithoutMetriques">
              Entrées avec exemples sans métriques ({{entriesWoMetriques|length}})
            </button>
          </h2>
        </div>
        <div id="collapse-le-exampleWithoutMetriques" class="collapse" data-parent="#accordionExample">
          <div class="card-body">
            <table class="table">
              {% for entry in entriesWoMetriques %}
              <tr>
                <td>{{entry.id}}</td>
                <td>
                      <a href="{{ path("lexicalentry_display", {'id': entry.id}) }}">{{entry.acceptionUniq}}</a>
                </td>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
      {# END MISSING METRIQUES #}

    </div>
  </div>
</div>

{% endblock %}
