{% extends 'base.html.twig' %}

{% block title %}
  {{ parent() }}
  Utilisateurs
{% endblock %}

{% block body %}

<h1 class="text-center pt-4 pb-2">
  <button type="button" class="btn btn-lg btn-block btn-light p-4">
    {{"users"|trans}}
  </button>
</h1>

<div class="card">
  <div class="card-body">

    <table class="table">
      {% for user in users %}
      <tr>
        <td>{{user.email}}</td>
        <td>
            {% for role in user.roles %}
              - {{role}} -
            {% endfor %}
        </td>
        <td><a class="btn btn-warning" href="{{path('admin_switch_admin',{'id':user.id})}}">Switch Admin</a></td>
        <td><a class="btn btn-warning" href="{{path('admin_delete_user',{'id':user.id})}}">Delete</a></td>
      </tr>
      {% endfor %}
    </table>

    {% if file is defined%}
      <a class="btn btn-outline-success" href="{{ asset(file) }}">Fichier export</a>
    {% else %}
      <a class="btn btn-outline-warning" href="{{path('admin_export_users')}}">Export users </a>
    {% endif %}
  </div>
</div>

{% endblock %}
