{% extends "base.html.twig" %}

{% block title %}
  {{ parent() }}
  {{"collocations"|trans}}
{% endblock %}

{% block body %}

<h1 class="display-1 mb-4">{{"expressions"|trans}}</h1>

<div class="row">
  <div class="col">
    {% include "searchFilter.html.twig" %}
  </div>
</div>

<div class="row">

  <div class="col-12">
    <h2 class="display-5">{{"routines"|trans}}</h2>

    <div class='colonnes-1' id='routines'>
      {% for routine in routines %}
        <div id="{{routine.id}}" class="entry listeroutine"  data-freq="{{routine.occurrence}}"  data-generalf="{{routine.occurrence}}">
          <span class="itemColonnes valuelemma" >
            {{ routine.realisation|replace({'&': "<br/>"})|raw }} 
            <a href="{{path('routine_display', {'id': routine.id})}}">
              <i class="fas fa-link"></i>
            </a>
  
            <div class="text-right">
              <a href="{{ path("generalf", { "generalf": routine.fonction.generalf}) }}">{{ routine.fonction.generalf | trans }}</a>
              <span class="ml-2 badge badge-light" data-toggle="tooltip" title="{{  (routine.fonction.generalf ~ "_desc") | trans }}">?</span>
              -
              <a href="{{ path("generalf_label", { "generalf": routine.fonction.generalf, "label": routine.fonction.label}) }}">{{ routine.fonction.label | trans }}</a>
              <span class="ml-2 badge badge-light" data-toggle="tooltip" title="{{  (routine.fonction.label ~ "_desc") | trans }}">?</span>
            </div>

          </span>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="mt-4 col-12">
    <h2 class="display-5">{{"collocations"|trans}}</h2>

    <div class="row mb-2">
      <div class="col">
        <span class="btn btn-sm btn-secondary btn-sort" data-order="asc" data-metrique="alpha"><i class="fas fa-sort-alpha-down"></i></span>
        <span class="btn btn-sm btn-secondary btn-sort" data-order="asc" data-metrique="freq">{{"frequency"|trans}} <i class="fas fa-sort"></i></span>
        <span class="btn btn-sm btn-secondary btn-sort" data-order="asc" data-metrique="loglike">{{"loglike"|trans}} <i class="fas fa-sort"></i></span>
        <span class="btn btn-sm btn-secondary btn-sort" data-order="asc" data-metrique="patron">{{"collocation_structure_colloc"|trans}} <i class="fas fa-sort"></i></span>
      </div>
    </div>

    <div class='colonnes-3' id='collocations'>

      {% for collocation in collocations %}
        {% set freq =  (collocation.nbOccurrences) ? collocation.nbOccurrences : 0 %}
        {% set loglike =  (collocation.loglike) ? collocation.loglike : 0 %}
        {% set patron =  (collocation.structureColloc) ? collocation.structureColloc|trans : null %}

        <div id="{{collocation.id}}" class="entry listecollocation"  data-freq="{{freq}}" data-loglike="{{loglike}}" data-alpha="{{collocation.value|normalize}}" data-patron="{{patron}}">
          <a class="itemColonnes valuelemma" href="{{ path("collocation_display", {'id': collocation.id}) }}">
            {{collocation.value}} <span class="display-metrique text-muted"></span>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="mt-4 col-12">
    <h2 class="display-5">{{"locutions"|trans}}</h2>
    <div class='colonnes-3' id='collocations'>
        {% for polylexical in polylexicals %}
          <div id="{{polylexical.id}}" class="entry listelemma" data-alpha="{{polylexical.lemma.value|normalize}}">
            <a class="valuelemma" href="{{ path("lexicalentry_display", {'id': polylexical.id}) }}">
              {{polylexical.lemma.value}}
            </a>
          </div>
      {% endfor %}
      </div>
  </div>

</div>
{% endblock %}


{% block javascripts %}
  {{ parent() }}
  <script src="{{asset("build/js/filterEntryTab.js")}}"></script>
  <script src="{{asset("build/js/sortCollocations.js")}}"></script>
{% endblock %}
