{% extends "base.html.twig" %}

{% block title %}
  {{ parent() }}
  {{"locutions"|trans}}
{% endblock %}

{% block body %}

<h1 class="display-1 mb-4">{{"locutions"|trans}}</h1>

<div class="row">
  <div class="col">
    {% include "searchFilter.html.twig" %}
  </div>
</div>

<div class="row">
  <div class="col-12">
   
    <div class='colonnes-3' id='collocations'>
      {% for polylexical in polylexicals %}
        <div id="{{polylexical.id}}" class="entry listelemma" data-alpha="{{polylexical.lemma.value|normalize}}">
          <a class="valuelemma" href="{{ path("lexicalentry_display", {'id': polylexical.id}) }}">
            {{polylexical.lemma.value}}
          </a>
        </div>
    {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{asset("build/js/filterEntryTab.js")}}"></script>
{% endblock %}
