{% extends "base.html.twig" %}

{% block title %}
  {{ parent() }}
  {{"collocations"|trans}}
{% endblock %}

{% block body %}

<h1 class="display-1 mb-4">{{"routines"|trans}}</h1>

<div class="row">
  <div class="col">
    {% include "searchFilter.html.twig" %}
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class='colonnes-1' id='routines'>
      {% for routine in routines %}
        <div id="{{routine.id}}" class="entry listeroutine"  data-freq="{{routine.occurrence}}"  data-generalf="{{routine.occurrence}}">
          <span class="itemColonnes valuelemma" >
            {{ routine.realisation|replace({'&': "<br/>"})|raw }} 
            <a href="{{path('routine_display', {'id': routine.id})}}">
              <i class="fas fa-link"></i>
            </a>
  
            <div class="text-right">
              <a href="{{ path("generalf", { "generalf": routine.fonction.generalf}) }}">{{ routine.fonction.generalf | trans }}</a>
              <span class="ml-2 badge badge-light" data-toggle="tooltip" title="{{  (routine.fonction.generalf ~ "_desc") | trans }}">?</span>
              -
              <a href="{{ path("generalf_label", { "generalf": routine.fonction.generalf, "label": routine.fonction.label}) }}">{{ routine.fonction.label | trans }}</a>
              <span class="ml-2 badge badge-light" data-toggle="tooltip" title="{{  (routine.fonction.label ~ "_desc") | trans }}">?</span>
            </div>

          </span>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}


{% block javascripts %}
  {{ parent() }}
  <script src="{{asset("build/js/filterEntryTab.js")}}"></script>
  <script src="{{asset("build/js/sortCollocations.js")}}"></script>
{% endblock %}
