{% if from is not defined or from != 'single' %}
  <h1 class="display-4">{{(fonction.label ~ "_complet")|trans}}</h1>
  <h2 class="display-5">{{(fonction.label ~ "_desc")|trans}}</h1>
  <div class="mt-4 mb-4">
    <mark class="p-2">
     <i>{{fonction.exemple}}</i>
    </mark>
  </div>
{% endif %}

{% if entries is not empty %}
<div class="accordion">
  <div class="card">
    <div class="card-header">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseEntries" aria-expanded="true">
          {{"lst_words"|trans}} ({{entries|length}})
        </button>
      </h2>
    </div>
    <div id="collapseEntries" class="collapse show">
      <div class="card-body">
          <div class='colonnes-2' id='entries'>
          {% for entry in entries %}
            <div data-id="{{entry.id}}" class="entry listeentry">
              <a target="_blank" class="itemColonnes" href="{{ path("lexicalentry_display", {'id': entry.id}) }}">
                {{entry.lemma.value}}
              </a>
              ({{entry.meaning}})
              <span class="badge badge-sm badge-inverted-secondary entry-popover" role="button" data-entry="{{entry.id}}" tabindex="0" data-trigger="focus" data-html=true data-toggle="popover" title="{{"examples"|trans}}" data-content="...">?</span>
            </div>
          {% endfor %}
          </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if collocations is not empty %}
<div class="accordion">
  <div class="card">
    <div class="card-header">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseCollocations" aria-expanded="true">
          {{"collocations"|trans}} ({{collocations|length}})
        </button>
      </h2>
    </div>
    <div id="collapseCollocations" class="collapse show">
      <div class="card-body">
          <div class='colonnes-2' id='collocations'>
          {% for collocation in collocations %}
            <div data-id="{{collocation.id}}" class="entry listecollocation">
              <a target="_blank" class="itemColonnes" href="{{ path("collocation_display", {'id': collocation.id}) }}">
                {{collocation.complement|raw}}
              </a>
              <span class="badge badge-sm badge-inverted-secondary collocation-popover" role="button" data-collocation="{{collocation.id}}" tabindex="0" data-trigger="focus" data-html=true data-toggle="popover" title="{{"examples"|trans}}" data-content="...">?</span>
            </div>
          {% endfor %}
          </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if routines is not empty %}
<div class="accordion">
  <div class="card">
    <div class="card-header">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseRoutines" aria-expanded="true">
          {{"routines"|trans}} ({{routines|length}})
        </button>
      </h2>
    </div>
    <div id="collapseRoutines" class="collapse show">
      <div class="card-body">
          <div class='colonnes-2' id='routines'>
          {% for routine in routines %}
            <div data-id="{{routine.id}}" class="entry listeroutine">
              <a target="_blank" class="itemColonnes" href="{{ path("routine_display", {'id': routine.id}) }}">
                  {{ routine.realisation|replace({'&': "<br/>"})|raw }}
              </a>
              <span class="badge badge-sm badge-inverted-secondary routine-popover" role="button" data-routine="{{routine.id}}" tabindex="0" data-trigger="focus" data-html=true data-toggle="popover" title="{{"examples"|trans}}" data-content="...">?</span>
            </div>
          {% endfor %}
          </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
