{% extends "base.html.twig" %}
{% block title %} {{parent()}} {{"fonctions"|trans}} {% endblock %}

{% block body %}

<h1 class="display-5 mb-4">
 {{ (fonctions[0].generalf ~ "_complet") | trans }}
</h1>

<div class="card mb-4 compact">
    <ul class="list-group list-group-flush ml-2">
    {% for fonction in fonctions %}
        <li class="list-group-item">
            <a data-fonction="{{fonction.id}}" role="button" class="fonction-details">{{ (fonction.label ~ "_complet") | trans }} </a>
            <span role="button" class="ml-2 badge badge-secondary" data-toggle="tooltip" title="{{ (fonction.label ~ "_desc") | trans }}">?</span> <br/>
            <span class="text-muted">{{ fonction.exemple }}</span>            
        </li>
    {% endfor %}
    </ul>
</div>

{% include "fonction/modal.html.twig" %}

{%  endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{asset("build/js/fonctions.js")}}"></script>
{% endblock %}
