{% extends "base.html.twig" %}
{% block title %} {{parent()}} {{"fonctions"|trans}} {% endblock %}

{% block body %}

<h1 class="display-5 mb-4">
    {{ (fonction.label ~ "_complet") | trans }}
</h1>

<div class="card mb-4">
    {% set vars = {
        'entries': fonction.lexicalEntries,
        'collocations': fonction.collocations,
        'routines': fonction.routines,
        'from': 'single'
    } %}
    {% include "fonction/elements.html.twig" with vars %}
</div>

{%  endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{asset("build/js/fonctions.js")}}"></script>
{% endblock %}
