{% extends "base.html.twig" %}
{% block title %} {{parent()}} {{"fonctions"|trans}} {% endblock %}

{% block body %}

<h1 class="display-1 mb-4">{{"lst_fonctions"|trans}}</h1>

{% set lastGeneralf = null %}
{% for i, fonction in fonctions %}
{% set nextGeneralf = (fonctions[ i + 1] is defined) ? fonctions[ i + 1].generalf : null %}
{% set currentGeneralf =  fonction.generalf %}
{% set isNewGeneralf = (currentGeneralf != lastGeneralf) %}

 {% if isNewGeneralf %}
   {% set lastGeneralf = currentGeneralf %}

    <div class="card mb-2 compact">
      <div class="card-header">
        <div class="row">
          <div class="col-9">
            <button class="btn btn-light dropdown-toggle" type="button" data-toggle="collapse" data-target="#collapse-sc-{{currentGeneralf}}">
              {{ (currentGeneralf ~ "_complet") | trans }}
            </button>
          </div>
          <div class="col-3 text-right">
            <mark><i>{{ fonction.exemple }}</i></mark>
          </div>
        </div>
      </div> <!-- fin header -->
      <div id="collapse-sc-{{currentGeneralf}}" class="collapse">
        <div class="card-body">
          <ul class="list-group list-group-flush">

  {% endif %}
            <li class="list-group-item">
              <a data-fonction="{{fonction.id}}" role="button" class="fonction-details">{{ (fonction.label ~ "_complet") | trans }}</a>
               <span role="button" class="ml-2 badge badge-secondary" data-toggle="tooltip" title="{{ (fonction.label ~ "_desc") | trans }}">?</span> <br/>
              <span class="text-muted">{{ fonction.exemple }}</span>
            </li>
    <!--Si prochain classSubClass a une class différent, on ferme le body / collapse / card -->
    {% if nextGeneralf is null or nextGeneralf != currentGeneralf %}
        </ul>
      </div>
     </div>
    </div>
    {% endif %}

{% endfor %}

{% include "fonction/modal.html.twig" %}

{%  endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{asset("build/js/fonctions.js")}}"></script>
{% endblock %}
