{% extends "base.html.twig" %}

{% block title %}
  {{ parent() }}
  {{lexicalEntry.lemma.value}}
{% endblock %}

{% block body %}
  {% include 'lexical-entry/partial.html.twig' %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset("build/js/lexicalEntryChartImport.js") }}"></script>
{% endblock %}
