<ul class="list-group list-group-flush">
{% for exemple in exemples %}
    <li class="list-group-item">
        {{exemple.contexteGauche}} <strong>{{exemple.pivot}}</strong> {{exemple.contexteDroit}}
        {% if exemple.sourceExemple %}
        <span class="float-right">
          <button tabindex="0" role="button" type="button" data-trigger="focus" class="btn btn-sm btn-outline-secondary" data-toggle="popover" data-content="{{exemple.sourceExemple.descriptionBiblio |e('html')}}">
            {{exemple.sourceExemple.value}}
          </button>
        </span>
        {% endif %}
    </li>
{% endfor %}
</ul>