<h1 class="display-1 mb-4">{{lexicalEntry.lemma.value}}</h1>

<div class="card mb-4 compact">
    <div class="ml-2 mt-2 mb-2">
        <ul class="list-group list-group-flush">

          <!-- GLOSE CATEGORIE ET CONSTRUCTION -->
          <li class="list-group-item ">
            <div class="row">

              <div class="col">
                <b>{{lexicalEntry.meaning}}</b> <small>({{lexicalEntry.source.value|trans|raw}})</small> <br/>
                {{lexicalEntry.cat.value|trans}}
                {% if lexicalEntry.cat.value == "V" and lexicalEntry.verbConstruction is not null %}
                  - <i>{{lexicalEntry.verbConstruction}}</i>
                {% endif %}
              </div>

              {% if lexicalEntry.metriques is not null %}
              <div class="col-3 text-right">
                <span class="badge">
                {{"frequency"|trans}} 
                <div class="progress border custom-progress">
                  <div class="progress-bar " role="progressbar" style="width: {{ rankFreq }}%">
                </div>
              </div>
                </span>
              </div>
              {% endif %}

            </div>
          </li>
        </ul>

    </div>
    {% include 'lexical-entry/partial/exemples.html.twig' %}
    {% include 'lexical-entry/partial/collocations.html.twig' %}
    {% include 'lexical-entry/partial/distribution.html.twig' %}
    {% include 'lexical-entry/partial/semantic.html.twig' %}
    {% include 'lexical-entry/partial/metrics.html.twig' %}
    {% include 'lexical-entry/partial/fonctions.html.twig' %}
    {% include 'lexical-entry/partial/syntaxic.html.twig' %}
    {% include 'lexical-entry/partial/translations.html.twig' %}
</div>
