{% extends "base.html.twig" %}

{% block title %}
  {{ parent() }}
  Textes annotés
{% endblock %}

{% block body %}

<h1 class="display-1 mb-4">{{"annotated_texts"|trans}}</h1>

<ul class="list-group">
{% for article in articles %}
  <li class="list-group-item">
    <a href="{{ path("article_display", {'id': article.id} ) }}">
      <i class="far fa-eye"></i>
    </a> Article annoté {{article.id}}
  </li>
{% endfor %}
</ul>

<div class="row pt-3">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{"article_methodo"|trans}}</h5>
        {{"article_reference"|trans|raw}} 
      </div>
    </div>
  </div>
</div>

{% endblock %}
