{% extends "base.html.twig" %}

{% block body %}
  <h1 class="display-1 mb-4">Article annoté {{article.id}}</h1>

  <div id="article-btns" class="btn-group-vertical">
    <span data-cat="A" class="btn btn-secondary">{{"A"|trans}}</span>
    <span data-cat="ADV" class="btn btn-secondary">{{"ADV"|trans}}</span>
    <span data-cat="N" class="btn btn-secondary">{{"N"|trans}}</span>
    <span data-cat="V" class="btn btn-secondary">{{"V"|trans}}</span>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="article-content">
        {{ article.content | raw }}
      </div>
    </div>
  </div>

    <!-- infos concernant l'entrée récupérés en ajax -->
    <!-- lexical-entry/partial.html.twig-->
    <div id="lexicalEntry-modal" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div id="lexicalEntry-modal-body" class="modal-body"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{"close"|trans}}</button>
          </div>
        </div>
      </div>
    </div>

{% endblock %}


{% block javascripts %}
  {{ parent() }}
  <script src="{{asset("build/js/article.js")}}"></script>
{% endblock %}
