{% extends "base.html.twig" %}

{% block title %}
  {{ parent() }} {{lemmaTrad.value}}
{% endblock %}

{% block body %}

<h1 class="display-1 mb-4">{{lemmaTrad.value}}</h1>

{% for lexicalEntryTrad in lemmaTrad.lexicalEntryTrads %}
  {% include ('lexical-entry-trad/partial.html.twig') with {'from': 'lemmaTrad'} %}
{% endfor %}

{% endblock %}
