{% extends "base.html.twig" %}

{% block title %}
  {{ parent() }}
  Traduction - {{language.name|trans}}
{% endblock %}

{% block body %}

  <h1 class="display-1 mb-4">{{language.name|trans}}</h1>

  {% include "searchFilter.html.twig" %}

  <div class="colonnes">
  {% for lemmaTrad in trads %}
      <div id="{{lemmaTrad.id}}" class="entry listelemma" data-alpha="{{lemmaTrad.value|normalize}}">
        {% set synonyms = "" %}
        {% for entryTrad in lemmaTrad.lexicalEntryTrads %}
            {% set synonyms = synonyms ~ " " ~ entryTrad.synonyms %}
        {% endfor %}
        <a class="valuelemma" data-synonyms="{{synonyms}}" href='{{ path("trad_display", {'id': lemmaTrad.id}) }}'>{{lemmaTrad.value}} ({{lemmaTrad.lexicalEntryTrads|length}})</a>
      </div>
  {% endfor %}
  </div>
{% endblock %}


{% block javascripts %}
  {{ parent() }}
  <script src="{{asset("build/js/filterEntryTab.js")}}"></script>
{% endblock %}
