<div class="card mb-2">
  {% if from != "lemmaTrad" %}
    <div class="card-header">
      {% set lemmaTrad =  lexicalEntryTrad.lemmaTrad %}
      {{lemmaTrad.value}}
        - {{lemmaTrad.language.name|trans}}
    </div>
  {% endif %}
  <div class="card-body">
    <ul class="list-group-flush">
      <li class="list-group-item">
      {% if from == "lemmaTrad" %}
        {% if lexicalEntryTrad.lexicalEntry is not null %}
          <a target="_blank" href="{{ path("lexicalentry_display", {'id': lexicalEntryTrad.lexicalEntry.id}) }}">
            {{lexicalEntryTrad.lexicalEntry.lemma.value}}
          </a> ({{lexicalEntryTrad.lexicalEntry.meaning}})
        {% elseif lexicalEntryTrad.collocation is not null %}
          <a target="_blank" href="{{ path("collocation_display", {'id': lexicalEntryTrad.collocation.id}) }}">
            {{lexicalEntryTrad.collocation.value}}
          </a>
        {% endif %}
      {% else %}
          <a target="_blank" href='{{ path("trad_display", {'id': lexicalEntryTrad.lemmaTrad.id}) }}'>{{lexicalEntryTrad.lemmaTrad.value}} ({{lemmaTrad.lexicalEntryTrads|length}})</a>
      {% endif %}
      </li>

      {% if lexicalEntryTrad.synonyms %}
        <li class="list-group-item">
          <span class="item-title text-muted">{{"synonyms"|trans}}</span>
          {{lexicalEntryTrad.synonyms}}
        </li>
      {% endif %}
      {% if lexicalEntryTrad.nbOcc %}
        <li class="list-group-item">
          <span class="item-title text-muted">{{"nb_occ"|trans}}</span>
          {{lexicalEntryTrad.nbOcc}}
        </li>
      {% endif %}
      {% if lexicalEntryTrad.exampleCible %}
        <li class="list-group-item">
          <span class="item-title text-muted">{{"target_example"|trans}}</span>
          {{lexicalEntryTrad.exampleCible}}
        </li>
      {% endif %}
      {% if lexicalEntryTrad.exampleSource %}
        <li class="list-group-item">
          <span class="item-title text-muted">{{"source_example"|trans}}</span>
          {{lexicalEntryTrad.exampleSource}}
        </li>
      {% endif %}
      {% if lexicalEntryTrad.usageGeneral %}
        <li class="list-group-item">
          <span class="item-title text-muted">{{"usage_general"|trans}}</span>
          {{lexicalEntryTrad.usageGeneral}}
        </li>
      {% endif %}
      {% if lexicalEntryTrad.usageSpecific %}
        <li class="list-group-item">
          <span class="item-title text-muted">{{"usage_specific"|trans}}</span>
          {{lexicalEntryTrad.usageSpecific}}
        </li>
      {% endif %}
      {% if lexicalEntryTrad.comment %}
        <li class="list-group-item">
          <span class="item-title text-muted">{{"comments"|trans}}</span>
          {{lexicalEntryTrad.comment}}
        </li>
      {% endif %}
    </ul>
  </div>
</div>
