{% extends "base.html.twig" %}

{% block title %}
  {{ parent() }}
  Graph
{% endblock %}

{% block container %}container-fluid{% endblock %}

{% block body %}

<div class="row px-5 pt-2">
<div class="col-2 text-justify">
  <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
    <div class="card-body">
      <p class="card-text">Graphe des collocations du LST<br/>
      Modifier les critères pour mettre à jour le graphe</p>
    </div>
  </div>
  <div class="card border-dark mb-3" style="max-width: 18rem;">
    <div class="card-header">Critères statistiques </div>
    <div class="card-body text-dark">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Log-like >
            <input style="max-width:70px" name="loglike" class="criteria" type="number" min="1" id="loglike" value="10" autocomplete="off"/>
        </li>
        <li class="list-group-item">
          {{"frequency"|trans}} >
          <input style="max-width:70px" name="occ" class="criteria" type="number" min="1" id="occ" value="7" autocomplete="off"/>
        </li>
        <li class="list-group-item">
          Répartition (nombre de disciplines) >
              <input style="max-width:70px" name="disc" class="criteria" type="number" min="1" id="disc" value="3" autocomplete="off"/>
        </li>
      </ul>
    </div>
  </div>

    <div class="card border-dark mb-3">
      <div class="card-header">Structure de la collocation </div>
      <div class="card-body text-dark">
        <div style="overflow-y: auto; height: 25vh;">
          {% for value in structureColloc %}
           <input class="criteria card-text" checked type="checkbox" name="structureColloc" value="{{value}}"> {{value}}<br>
          {% endfor %}
          <input class="criteria card-text" checked type="checkbox" name="structureColloc" value=""> ∅<br>
        </div>
        <div class="card-footer bg-transparent border-success">
          <button type="button" class="btn btn-secondary" id="all-structureColloc"><i class="fas fa-check-double"></i></button>
          <button type="button" class="btn btn-secondary" id="none-structureColloc"><i class="fas fa-eject"></i></button>
        </div>
      </div>
    </div>
  </div>


<div class="col-8">
  <div id="cy" data-datas="{{datas}}"></div>
</div>
<div class="col-2">
  <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
    <div class="card-body">
      <p class="card-text">Noeud/arête courant <hr/> <span id="current-edge"></span></p>
    </div>
  </div>

  <div class="card border-dark mb-3">
    <div class="card-header">Fonction Lexicale </div>
    <div class="card-body text-dark">
      <div style="overflow-y: auto; height: 58vh;">
        {% for value in fonctionLexicale %}
         <input class="criteria card-text" checked type="checkbox" name="fonctionLexicale" value="{{value}}"> {{value}}<br>
        {% endfor %}
        <input class="criteria card-text" checked type="checkbox" name="fonctionLexicale" value=""> ∅<br>
      </div>
      <div class="card-footer bg-transparent border-success">
        <button type="button" class="btn btn-secondary" id="all-fl"><i class="fas fa-check-double"></i></button>
        <button type="button" class="btn btn-secondary" id="none-fl"><i class="fas fa-eject"></i></button>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset("build/js/cytoscape-entries.js") }}"></script>
{% endblock %}
