{% extends "base.html.twig" %}

{% block title %}
  {{ parent() }}
  Graph
{% endblock %}

{% block body %}

  <div id='cy' data-datas="{{datas}}"></div>

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset("build/js/cytoscape-entries.js") }}"></script>
{% endblock %}
