{% extends "base.html.twig" %}

{% block title %}
  {{ parent() }}
  {{collocation.value}}
{% endblock %}

{% block body %}

<h1 class="display-1 mb-4">{{collocation.value}}</h1>

<div class="card mb-4 compact">

<div class="tab-content" id="myTabContent">
  <!-- PROPRIETES -->
  <ul class="list-group list-group-flush ml-2">
      {% if collocation.lexicalEntryBase is null %}
      <li class="list-group-item">
        <span class="item-title text-muted">{{"collocation_base"|trans}}</span>
        {{collocation.lemmaBase}}
      </li>
      {% else %}
      <li class="list-group-item">
        <span class="item-title text-muted">{{"collocation_base"|trans}}</span>
        <a href="{{ path("lexicalentry_display", {'id': collocation.lexicalEntryBase.id}) }}">
          {{collocation.lexicalEntryBase.acceptionUniq}}
        </a>
      </li>
      {% endif %}
      {% if collocation.lexicalEntryCollocatif is null %}
      <li class="list-group-item">
        <span class="item-title text-muted">{{"collocation_collocatif"|trans}}</span>
        {{collocation.lemmaCollocatif}}
      </li>
      {% else %}
      <li class="list-group-item">
        <span class="item-title text-muted">{{"collocation_collocatif"|trans}}</span>
        <a href="{{ path("lexicalentry_display", {'id': collocation.lexicalEntryCollocatif.id}) }}">
          {{collocation.lexicalEntryCollocatif.acceptionUniq}}
        </a>
      </li>
      {% endif %}

      {% if collocation.structureGlobale is not empty %}
        <li class="list-group-item">
          <span class="item-title text-muted">{{"collocation_structure_globale"|trans}}</span>
          {{collocation.structureGlobale}}
        </li>
      {% endif %}
      {% if collocation.structureColloc is not empty %}
        <li class="list-group-item">
          <span class="item-title text-muted">{{"collocation_structure_colloc"|trans}}</span>
          {{collocation.structureColloc|trans}}
        </li>
      {% endif %}

      {% if collocation.fonctionLexicale is not empty %}
        <li class="list-group-item">
          <span class="item-title text-muted">{{"collocation_fonction_lexicale"|trans}}</span>
          {{collocation.fonctionLexicale}}
        </li>
      {% endif %}
      {% if collocation.propSyntax is not empty %}
        <li class="list-group-item">
          <span class="item-title text-muted">{{"collocation_prop_synt"|trans}}</span>
          {{collocation.propSyntax}}
        </li>
      {% endif %}

      {% if collocation.fonction is not empty %}
          <li class="list-group-item">
          <span class="item-title text-muted">{{"fonctions"|trans}}</span>
          {% for f in collocation.fonction %}
          <span>
            <a href="{{ path("generalf", { "generalf": f.generalf}) }}">{{ f.generalf | trans }}</a>
            <span class="ml-2 badge badge-light" data-toggle="tooltip" title="{{  (f.generalf ~ "_desc") | trans }}">?</span>
            -
            <a href="{{ path("generalf_label", { "generalf": f.generalf, "label": f.label}) }}">{{ f.label | trans }}</a>
            <span class="ml-2 badge badge-light" data-toggle="tooltip" title="{{  (f.label ~ "_desc") | trans }}">?</span>
          </span>
          {% endfor %}
          </li>
      {% endif %}

    </ul>

  {% include 'collocation/partial/exemples.html.twig' %}
  {% include 'collocation/partial/metrics.html.twig' %}
  {% include 'collocation/partial/translations.html.twig' %}

  </div>
</div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{asset("build/js/test.js")}}"></script>
{% endblock %}
