<ul class="list-group list-group-flush">
  {% for exemple in collocation.exempleCollocations %}
      <li class="list-group-item">
          {{exemple.contexteGauche}} <strong>{{exemple.pivot}}</strong> {{exemple.contexteDroit}}
          {% if exemple.sourceExemple %}
            <button tabindex="0"  role="button" type="button" data-trigger="focus" class="btn btn-sm btn-outline-secondary" data-toggle="popover" data-content="{{exemple.sourceExemple.descriptionBiblio |e('html')}}" data-placement="right">{{exemple.sourceExemple.value}}</button>
          {% endif %}
      </li>
  {% endfor %}
</ul>
