{% extends "base.html.twig" %}

{% block title %}
  {{ parent() }}
  {{"lst_collocations"|trans}}
{% endblock %}

{% block body %}

<h1 class="display-1 mb-4">{{"lst_collocations"|trans}}</h1>

<div class="row">
  <div class="col-6">
    <span class="btn btn-secondary btn-sort" data-order="asc" data-metrique="alpha"><i class="fas fa-sort-alpha-down"></i></span>
    <span class="btn btn-secondary btn-sort" data-order="asc" data-metrique="freq">{{"frequency"|trans}} <i class="fas fa-sort"></i></span>
    <span class="btn btn-secondary btn-sort" data-order="asc" data-metrique="loglike">{{"loglike"|trans}}<i class="fas fa-sort"></i></span>
    <span class="btn btn-secondary btn-sort" data-order="asc" data-metrique="patron">{{"collocation_structure_colloc"|trans}} <i class="fas fa-sort"></i></span>
  </div>
  <div class="col">
    {% include "searchFilter.html.twig" %}
  </div>
</div>

<div class='colonnes' id='collocations'>

  {% for collocation in collocations %}
  {% set freq =  (collocation.nbOccurrences) ? collocation.nbOccurrences : 0 %}
  {% set loglike =  (collocation.loglike) ? collocation.loglike : 0 %}
  {% set patron =  (collocation.structureColloc) ? collocation.structureColloc|trans : null %}

    <div id="{{collocation.id}}" class="entry listecollocation"  data-freq="{{freq}}" data-loglike="{{loglike}}" data-alpha="{{collocation.value|normalize}}" data-patron="{{patron}}">
      <a class="itemColonnes valuelemma" href="{{ path("collocation_display", {'id': collocation.id}) }}">
        {{collocation.value}} <span class="display-metrique text-muted"></span>
      </a>
    </div>
  {% endfor %}
</div>

{% endblock %}


{% block javascripts %}
  {{ parent() }}
  <script src="{{asset("build/js/filterEntryTab.js")}}"></script>
  <script src="{{asset("build/js/sortCollocations.js")}}"></script>
{% endblock %}
