{% if collocation.exempleCollocations is not empty %}

<div class="accordion">
  <div class="card">
    <div class="card-header">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseExamples" aria-expanded="true">
          {{"examples"|trans}}
        </button>
      </h2>
    </div>
    <div id="collapseExamples" class="collapse show">
      <div class="card-body">
        {% include('collocation/examples.html.twig') %}
      </div>
    </div>
  </div>
</div>

{% endif %}
