<div class="accordion">
  <div class="card">
    <div class="card-header" >
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseMetrics" aria-expanded="true">
          {{"metrics"|trans}}
        </button>
      </h2>
    </div>
    <div id="collapseMetrics" class="collapse show">
      <div class="card-body">

        <table class="table table-borderless table-hover w-50">
          <tr>
            <td>{{"nb_occ"|trans}}</td>
            <td>
              <span class="badge badge-info">{{collocation.nbOccurrences}}</span>
            <td>
          </tr>
          <tr>
            <td>{{"distribution_100"|trans}}</td>
            <td>
              <span class="badge badge-info">{{collocation.frequence}}</span>
            <td>
          </tr>
          <tr>
            <td>{{"distribution_10"|trans}}</td>
            <td>
              <span class="badge badge-info">{{collocation.nbDisciplines}}</span>
            <td>
          </tr>
          <tr>
            <td>{{"loglike"|trans}}</td>
            <td>
              <span class="badge badge-info">{{collocation.logLike}}</span>
            <td>
          </tr>
        </table>

      </div>
    </div>
  </div>
</div>
