{% if collocation.lexicalEntryTrads is not empty %}

<div class="accordion">
  <div class="card">
    <div class="card-header">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseMetrics" aria-expanded="true">
          {{"metrics"|trans}}
        </button>
      </h2>
    </div>
    <div id="collapseMetrics" class="collapse show">
      <div class="card-body">

        {% for lexicalEntryTrad in collocation.lexicalEntryTrads %}
          {% include ('lexical-entry-trad/partial.html.twig') with {'from': 'collocation'} %}
        {% endfor %}

      </div>
    </div>
  </div>
</div>

{% endif %}
