{% for lexicalEntry in lexicalEntries %}
<li class="list-group-item search-result-item" data-alpha="{{lexicalEntry.lemma.value}}">
  <span class="badge badge-light">Mot du LST</span>
  <a href='{{ path("lexicalentry_display", {'id': lexicalEntry.id}) }}'>
     {{lexicalEntry.lemma.value}} <span class="text-muted">({{lexicalEntry.meaning}})
  </a>
</li>
{% endfor %}

{% for collocation in collocations %}
<li class="list-group-item search-result-item" data-alpha="{{collocation.value}}">
  <span class="badge badge-light">Collocation</span>
  <a href='{{ path("collocation_display", {'id': collocation.id}) }}'>
    {{collocation.value}}
  </a>
</li>
{% endfor %}

{% for routine in routines %}
<li class="list-group-item search-result-item" data-alpha="{{routine.realisation}}">
  <span class="badge badge-light">Routine</span>
  <a href='{{ path("routine_display", {'id': routine.id}) }}'>
    {{ routine.realisation|replace({'&': "&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;"})|raw }}
  </a>
</li>
{% endfor %}

{% for trad in trads %}
<li class="list-group-item search-result-item" data-alpha="{{trad.value}}">
  <span class="badge badge-light">{{trad.language.name}}</span>
  <a href='{{ path("trad_display", {'id': trad.id}) }}'>
    {{trad.value }}
  </a>
</li>
{% endfor %}